<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USAN</title>
    <link rel="stylesheet" href="../../../static/htmlTemplates/css/manager.css"/>
</head>
<body>
    <div class="manage">
        <h1>우산 관리 페이지</h1>
        <div class="manage_table">
            <table>
                <tr>
                    <th>1</th>
                    <td>내용</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>내용</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>내용</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>내용</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>내용</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>