<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  >
<head>
    <title>이용약관</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          th:href="@{../htmlTemplates/css/agree.css}"
          type="text/css" href="../../../static/htmlTemplates/css/agree.css"/>
    <style>
        body, button, input, select, table, textarea {
            font-family: Dotum, 돋움, Helvetica, sans-serif;
            font-size: 12px;
            text-size-adjust: none;
        }

        div.test {
            position: absolute;
            text-align: center;
            width: 500px;
            height:auto;
            left: 50%;
            transform: translate(-50%, 0%);

        }

        /*로고*/
        .test.blind {
            position: absolute;
            display:flex;
        }

        /*체크*/
        .test.chk{
            position: absolute;
            display:flex;
            text-align:left;
            color : #666666;
            font-size:12px;
            width: 500px;
            line-height:16px;
            left:auto;

        }

        .test.chk_part{
            position: absolute;
            display:flex;
            text-align:left;
            color : #666666;
            font-size:12px;
            width: 500px;
            line-height:16px;
            left:auto;

        }

        /*버튼*/
        .button button{
            background-color: #3498db;
            color: white;
            border-radius: 4px;
            border: 4px solid black;
            padding: 10px;
            font-size: 15px;
            width: 150px;
            height: 50px;
            font-weight: bold;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

<div class="test">
    <!--로고-->
    <div class="blind" style="text-align: center; color:#3498db; font-size: 55px; font-weight: bold;">USAN</div>

    <p></p>
    <div class="chk" style="text-align: left; color : #666666; line-height:16px;">
        <input type="checkbox" id="chk_all" name="chk_all" value="all" class="chk_all">
        <span class="chk_all_txt">USAN 이용약관, 개인정보 수집 및 이용, 위치정보 이용약관, 프로모션 정보 수신(선택)에 모두 동의합니다.</span>
    </div>

    <p></p>
    <div class="chk" style="text-align: left;  color : #666666;" >
        <input type="checkbox" id="chk_part" name="chk_part" value="part" class="chk_part">
        <span class="chk_part_txt" >USAN 이용약관 동의<span class="terms_necessary">(필수)</span></span>
    </div>

    <p></p>
    <div class="content">
        <h3 class="content__title">서비스 이용약관</h3>
        <div class="content__text">
            제 1 조 (목적)<br>
            본 약관은 주식회사 USAN(이하 "회사")이 제공하는 USAN(우산) 서비스의 이용과 관련하여 회사와 회원의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.
            <p></p>
            제 2 조 (정의)
            <br>1. 본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
            <br>1) "USAN(우산)”(이하 “서비스”)이라 함은 도메인의 웹사이트 및 애플리케이션(이하 “앱”이라 합니다)을 통해 “우산 공유 서비스”를 제공하는 서비스로 구체적인 내용은 제 9조에 따릅니다.
            <br>2) “회원”이라 함은 회사의 서비스에 접속하여 본 약관에 따라 회사와 이용계약을 체결하고 회사가 제공하는 서비스를 이용하는 고객을 말합니다.
            <br>3) “우산 공유”라 함은 회사가 소유한 우산을 앱을 통하여 이용하는 것을 말합니다.
            <br>4) “이용 요금”이라 함은 우산을 잠금 해제(unlock) 한 시점부터 다시 잠금(lock) 한 시점까지의 이용 시간에 대한 요금을 말합니다.
            <br>5) “자동결제”라 함은 최초 신용카드 등의 카드정보를 입력 후 이후 경비가 결제될 때마다 별도의 인증과정이 없이 자동으로 결제되는 것을 말합니다.
            <br>2. 본 약관에서 사용하는 용어의 정의는 제2조에서 정하는 것을 제외하고는 관련법령, 상관례 및 이용정책에서 정하는 바에 의합니다.
            <p></p>
            제 3 조 (약관의 효력 및 변경)
            <br>1. 본 약관은 서비스를 이용하고자 하는 모든 회원에 대하여 그 효력을 발생합니다.
            <br>2. 본 약관의 내용을 회원이 쉽게 알 수 있도록 회사가 본 약관을 서비스 화면 또는 초기 화면의 연결 화면에 게시하거나 기타의 방법으로 회원에게 공지함으로써, 본 약관은 효력이 발생합니다.
            <br>3. 회사는 「약관의 규제에 관한 법률」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」(이하 “정보통신망법”) 등 관련법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다. 약관이 개정된 경우 회사는 지체 없이 개정약관을 현행약관과 함께 이메일 또는 제2항과 같은 방법으로 개정약관의 적용일자 7일 전에 공지 또는 통지합니다. 다만, 회원의 권리 또는 의무에 관한 중요한 규정의 변경은 최소한 개정약관의 적용일자 30일 전에 개별적으로 통지합니다.
            <br>4. 회사가 전항에 따라 개정약관을 명확하게 공지 또는 통지하면서 회원에게 개정약관 적용일자까지 거부의사를 표시하지 아니할 경우 약관의 변경에 동의한 것으로 간주한다는 뜻을 명확하게 공지 또는 통지하였음에도 회원이 명시적으로 거부의 의사표시를 하지 아니한 경우 회원이 개정약관에 동의한 것으로 봅니다.
            <br>5. 회원이 개정약관의 적용에 동의하지 않는 경우 회사는 개정약관의 내용을 적용할 수 없으며, 이 경우 회사 또는 회원은 이용계약을 해지할 수 있습니다.
            <p></p>
            제 4 조 (회원가입 및 이용계약의 성립)
            <br>1. 이 서비스의 회원이 되고자 하는 자는 본 약관 및 별도의 「개인정보 수집ㆍ이용에 관한 동의」, 「개인정보 제3자 제공에 관한 동의」, 「위치정보동의」에 대하여 동의 절차를 완료함으로써 회원가입신청을 하고 회사가 이러한 신청에 대하여 승인함으로써 이용계약이 체결됩니다.
            <br>2. 회사는 회원이 되고자 하는 자의 가입신청에 대하여 서비스 이용 승인을 원칙으로 합니다. 다만, 회사는 다음 각 호에 해당하는 신청에 대하여는 승인하지 않을 수 있습니다.
            <br>1) 회원 가입 신청 시 입력한 정보가 사실관계와 다르거나 정확하지 않은 경우
            <br>2) 본인 인증 정보가 회사의 심사 승인 기준에 적합하지 않은 경우
            <br>3) 서비스 이용에 필수적인 정보 또는 자격이 충분하지 않은 경우
            <br>4) 가입 신청자가 본 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 단 회사의 회원 재가입 승인을 얻은 경우에는 예외로 함.
            <br>5) 회원 가입 신청자의 귀책사유로 인하여 회사의 승인이 불가능하거나 기타 규정한 제반 사항을 위반하며 신청하는 경우
            <br>3. 본조 2항에도 불구하고 다음 각 호의 사유가 있는 경우 회사는 이용 신청에 대한 승인을 보류할 수 있습니다. 이 때, 회사는 이용 신청자에게 승인 보류와 관련된 사항을 해당 서비스 공지사항이 게시합니다.
            <br>1) 우산, 서버 등 설비에 여유가 없거나, 기술상 지장이 있는 경우
            <br>2) 기타 회사가 합리적인 판단으로에 의하여 필요하다고 인정하는 경우
            <br>4. 회사는 다음 각 호에 해당하는 경우, 승인을 철회 또는 이용을 제한할 수 있습니다.
            <br>1) 가입 신청 시 입력한 정보가 허위로 판명된 경우
            <br>2) 타인 또는 가공인(허위의)의 개인정보를 사용한 경우
            <br>3) 가입 신청을 한 휴대전화번호, 결제수단 등의 개인정보가 이미 가입된 회원의 정보와 일치하는 경우
            <br>4) 1인이 중복으로 이용 신청한 경우
            <br>5) 본 약관에 위배되거나 위법한 이용 신청, 자신 또는 타인의 영리 목적 등 부당한 이용 신청임이 확인된 경우
            <br>5. 제1항에 따른 신청에 있어 회사는 회원의 종류에 따라 전문기관을 통한 실명확인 및 본인인증을 요청할 수 있습니다.
            <br>6. 회사는 서비스 관련 설비의 여유가 없거나, 기술상 또는 업무상 문제가 있는 경우에는 승인을 유보할 수 있습니다.
            <br>7. 본인 명의의 휴대전화번호를 보유하고 있는 경우에만 이용 신청이 가능합니다.
            회사는 회원가입신청자에 대해 회사 정책에 따라 등급별로 구분하여 이용 요금, 서비스 메뉴 등을 세분하여 이용에 차등을 둘 수 있습니다.
            <br>8. 회원 또는 신청인은 모든 정보를 본인 명의의 정보만을 사용하여야 하며 본조의 회사의 확인 절차에서 타인, 가공인의 정보를 사용하거나 진실하지 않은 정보를 기입하는 등의 방식으로 회사의 오인을 유발하는 등 회사의 확인에 지장을 초래해서는 아니 된다. 그렇지 않은 경우 그 신청인은 이로부터 발생하는 모든 책임을 부담해야 하며 이로부터 발생하는 회사의 모든 손해를 배상해야 합니다.
            <p></p>
            제 5 조 (회원정보의 변경)
            <br>1. 회원은 언제든지 앱 내 프로필 화면에서 자신의 개인정보를 조회하거나 수정할 수 있습니다. 다만, 서비스 관리를 위해 회사가 필요하다고 판단한 개인정보는 수정이 불가능합니다.
            <br>2. 회원은 회원가입신청 시 기재한 사항이 변경되었을 경우 즉시 변경사항을 최신의 정보로 수정하여야 하며 온라인으로 수정을 하거나 이메일 등 기타 방법으로 회사에 대하여 그 변경사항을 알려야 합니다.
            <br>3. 회원은 휴대폰번호, 결제수단 정보의 변경 발생한 경우 지체 없이 "USAN"의 개인정보페이지 또는 이메일로 알려서 최신의 정보로 수정해야 합니다.
            <br>4. 본조의 내용에 따른 변경사항을 회사에 알리지 않아 발생한 불이익에 대하여 회사는 책임지지 않습니다. 다만, 회사의 귀책이 경합한 경우 민법 등 관계 법령에 따라 책임을 부담합니다.
            <p></p>
            제 6 조 (계정 및 정보의 관리)
            <br>1. 회원은 1개의 계정을 가지며 그 계정은 회원이 이용 신청 시 기입한 휴대전화번호로 합니다.
            <br>2. 계정 관리 책임은 회원 개인에게 있으며, 회원은 어떠한 경우에도 본인의 계정을 타인에게 양도하거나 타인으로 하여금 이용하게 하거나 타인의 서비스 이용을 위해서 사용하면 안됩니다.
            <br>3. 회사의 귀책사유 없이 계정 또는 회원의 정보가 유출됨으로 인하여 발생하는 손실이나 손해에 대하여는 회원 본인이 그에 대한 책임을 부담합니다.
            <br>4. 회원은 제3자가 자신의 계정 또는 정보를 사용하고 있음을 인지한 경우 이를 즉시 회사에 통보해야 하고 회사는 제3자의 계정 또는 정보 사용을 차단하는 등 이에 대한 신속한 처리를 위해서 최선의 노력을 다합니다.
            <p></p>
            제 7 조 (약관 외 준칙)
            <br>1. 회사는 필요한 경우 이용정책을 정하여 운영할 수 있으며 해당 내용은 홈페이지 등을 통해 공지합니다.
            <br>2. 본 약관에 규정되지 않은 사항에 대해서는 관련법령 또는 이용정책에서 정한 바에 따릅니다.
            <br>3. 회원은 항상 이용정책의 내용에 변경이 있는지 여부를 확인하여야 하며, 이를 확인하지 않아 발생한 손해에 대해서는 회사는 책임을 부담하지 않습니다. 다만, 회사의 귀책이 경합한 경우 민법 등 관계 법령에 따라 책임을 부담합니다.
            <p></p>
            제 8 조 (서비스 이용제한 등)
            <br>1. 회사는 아래 각 호의 경우에는 회원의 서비스 이용을 제한하거나 중지시킬 수 있습니다.
            <br>1) 회사와 회원간에 서비스 제공과 관련된 약정이 종료되는 경우
            <br>2) 회원이 본 약관의 의무를 위반하거나 정상적인 서비스 운영에 피해를 초래한 경우
            <br>3) 회원이 타인의 명의를 도용하여 회원가입을 한 경우
            <br>4) 유료결제를 함에 있어서 타인 명의 결제 도용, 전화번호 도용 등 불법적인 결제를 한 경우
            <br>5) 불법프로그램의 제공 및 운영 방해, 정보통신망법을 위반한 불법 통신 및 해킹, 악성프로그램의 배포, 접속 권한 초과 행위 등과 같이 회원이 관련법령을 위반한 경우
            <br>6) 회원이 본 약관에서 정한 의무사항을 위반한 경우
            <br>2. 본 조 제1항에 따라 서비스 이용이 제한되는 경우 아래 각 호에 해당하는 항목이 소멸됩니다.
            <br>1) 금전적인 대가를 지불하지 않은 혜택
            <br>2) 우산 공유 서비스를 이용할 권리
            <br>3) 부당하게 획득한 혜택 또는 권리
            <br>3. 본 조 제1항에 따라 서비스 이용이 제한 또는 중지된 회원에 대해서 회사는 회원에게 통지로써 회원자격을 상실 또는 1년 동안 정지시킬 수 있습니다.
            <br>4. 회사는, 다음 각 호의 경우 서비스의 전부 또는 일부의 제공을 중단하거나 제한할 수 있습니다.
            <br>1) 천재지변, 전쟁, 폭동, 화재, 파업 등 쟁의행위, 정부기관의 통제 기타 회사의 합리적인 노력으로 제어할 수 없는 사유가 발생하거나 발생할 우려가 있는 경우
            <br>2) 기간통신사업자로부터 전기통신서비스가 제공되지 않은 경우
            <br>3) 우산, 서버 등서비스용 설비의 장애 및 정기 점검, 보수점검, 교체 또는 고장, 통신의 두절 등의 사유가 발생한 경우
            <br>4) 서비스가 제3자와의 제휴를 통하여 제공되는 경우에 당해 제휴사업자의 사정에 따라 변경되거나 중지되는 경우
            <br>5) 제3자에게 위탁하여 처리하는 업무가 제3자의 사정으로 중단된 경우
            <br>6) 정부 기관의 조사, 요구로 인해서 서비스의 제공이 어려운 경우
            <br>7) 기타 서비스의 원활한 운영을 현저히 저해하는 사유가 발생한 경우
            <br>8) 업종∙업태의 변경, 사업폐지, 사업양도 등 불가피한 사유가 있다고 판단하는 경우
            <br>5. 회사는 본 조 상기된 사유가 발생한 경우 최대한 빠른 시간 내에 서비스를 재개하도록 최선의 노력을 다합니다.
            <br>6. 본 조 제 4항의 사유로 서비스 내용이 변경 또는 중단되는 경우, 회사는 그로 인해 회원이 입은 손해에 대하여 고의 또는 과실이 없는 한 배상하지 않습니다.
            <br>7. 회사는 본 조 1항에 해당하는 경우 회원에게 사전에 이를 통지하며, 본 조 4항에 해당하는 경우에는 공지합니다. 다만 부득이한 경우에는 사후에 안내할 수 있습니다.
            <p></p>
            제 9 조 (서비스 제공)
            <br>1. 회사가 제공하는 서비스의 내용은 다음과 같습니다.
            <br>1) 위치기반 서비스
            <br>회원의 위치정보를 활용하여 우산의 위치 정보를 제공하는 서비스
            <br>2) 우산 공유 서비스
            <br>회사가 회원으로부터 이용 요금을 지급 받고 회원이 회사 소유의 우산을 웹사이트 및 앱을 통하여 이용할 수 있는 서비스
            <br>2. 회사는 제 1항의 각 호의 서비스 이외에도 추가적인 서비스를 개발하여 회원에게 제공할 수 있습니다.
            <br>3. 회사가 제공하는 서비스와 웹사이트 및 앱의 사용은 무료입니다. 단, 회사가 제공한 서비스를 통해 우산을 이용할 경우 제9조에 따라 이용요금을 지불할 의무를 가집니다.
            <p></p>
            제 10 조 (요금 등)
            <br>1. 회사가 제공한 서비스를 통해 우산을 이용하는 경우, 회사는 회원에게 해당 요금을 청구합니다.
            <br>2. 요금은 곧 “이용 요금”을 말하며 회원 가입 완료 후에만 우산 이용이 가능합니다.
            <br>3. 회사는 서비스에 적용되는 요금을 웹사이트나 앱을 통해 회원에게 통지합니다.
            <br>4. 경우에 따라 경비 산정 기준은 변경될 수 있으며, 회사는 이를 웹사이트나 앱을 통해 회원에게 공지합니다.
            <br>5. 서비스와 관련하여 발생한 미납경비, 손해배상 등 회원의 회사에 대한 채무가 모두 정산될 때까지, 해당 회원의 서비스 사용이 중지되며, 그 채무가 일정기간 계속하여 변제되지 않을 경우에는 해당 회원의 회원자격이 박탈될 수 있습니다. 서비스 사용 중지 또는 회원자격 박탈에 대한 판단 기준은 회사의 약관 및 이용정책에 근거합니다.
            <br>6. 회원이 본 약관 및 위 각 조항을 준수하지 않았을 경우, 회사는 본 약관 및 이용정책에 따라 손해배상 금액 등 각종 요금을 부과하는 것 외에 계약을 해지할 수 있는 권리를 가집니다.
            <br>7. 회사는 본 서비스와 관련하여 발생한 미납경비, 손해배상 등 회원의 회사에 대한 채무가 정산되지 않을 경우 회원을 상대로 보전처분, 본안소송제기, 강제집행절차의 착수 등 채무 변제를 위한 법적 조치에 들어갈 수 있습니다.
            <p></p>
            제 11 조 (자동결제의 이용)
            <br>1. 회사는 회원의 편의를 위해 자동 결제를 제공합니다.
            <br>2. 결제수단 등록시, 결제수단의 유효 여부를 확인하기 위하여 가결제가 진행되며 가결제된 금액은 유효 여부 확인 후 자동으로 결제 취소됩니다.
            <br>3. 결제수단을 등록한 회원은 우산 공유에 대한 이용 요금을 별도의 인증과정 없이 자동으로 결제하겠다는 의사표시를 한 것으로 봅니다.
            <br>4. 결제 시점에 회원이 등록한 결제수단의 유효성, 한도 등의 문제로 결제가 실패한 경우에 미수로 처리되며, 미수 결제가 정상적으로 결제되기 전까지는 해당 회원은 서비스 이용이 제한됩니다.
            <br>5. 결제 시점에 시스템 장애로 인하여 결제 실패가 된 경우에는 시스템 정상화가 된 시점에 결제를 진행합니다.
            <p></p>
            제 12 조 (쿠폰)
            <br>1. 회사는 서비스를 이용하는 회원에게 정해진 조건에 따라 이용 요금의 전부 또는 일부를 지불 할 수 있는 할인 쿠폰을 발급할 수 있습니다.
            <br>2. 쿠폰의 부여 및 사용에 관한 사항은 회사가 정한 이용정책에 따르며 회사는 앱 또는 홈페이지를 통하여 이를 회원에게 안내합니다.
            <br>3. 쿠폰은 명시된 사용기간 내에 사용할 수 있으며 사용기간이 지난 쿠폰은 자동 소멸됩니다.
            <br>4. 쿠폰은 회원 간 거래 및 양도가 불가능하며 어떠한 경우에도 현금으로 환불되거나 타인에게 양도되지 않습니다.
            <br>5. 회원이 약관 및 이용 정책을 위반하거나 부당한 방법으로 쿠폰을 적립한 경우 회사는 회원에게 사전 확인 절차를 거친 후 그러한 위반 사실이 확인되었을 때 회원의 적립된 쿠폰을 말소 또는 서비스 이용을 정지할 수 있습니다.
            <br>6. 쿠폰은 회사의 서비스 이용 요금 관련해서만 사용 가능합니다.
            <p></p>
            제 13 조 (정보의 제공 및 광고의 게재)
            <br>1. 회사는 회원이 서비스 이용 중 필요하다고 인정되는 다양한 정보를 서비스 내 공지사항 또는 서비스 화면, 메시지, 전자우편 등의 방법으로 회원에게 제공할 수 있습니다. 다만 상업적 광고를 포함한 정보는 회원의 마케팅수신동의 여부에 따라 제공합니다.
            <br>2. 회사는 서비스의 운영과 관련하여 서비스 화면 등에 광고를 게재할 수 있습니다.
            <p></p>
            제 14 조 (회사의 의무)
            <br>1. 회사는 관련법과 본 약관이 금지한 행위 또는 미풍양속에 반하는 행위를 하지 않으며, 계속적이고 안정적으로 서비스를 제공하기 위하여 최선을 다하여 노력합니다.
            <br>2. 회사는 회원이 안전하게 서비스를 이용할 수 있도록 개인정보(신용정보 포함)보호를 위해 보안시스템을 갖추어야 하며 개인정보취급방침을 공시하고 준수합니다.
            <br>3. 회사가 제공하는 서비스로 인하여 회원에게 상해, 손해가 발생한 경우 그러한 상해, 손해가 회사의 고의나 과실에 기해 발생한 경우에 한하여 회사에서 책임을 부담합니다.
            <br>4. 회사는 정보통신망법, 통신비밀보호법, 전기통신사업법 등 서비스의 운영, 유지와 관련 있는 법령을 준수합니다.
            <p></p>
            제 15 조 (회원의 의무)
            <br>1. 회원은 이용 시간(우산을 잠금 해제(unlock) 한 시점부터 다시 잠금(lock) 한 시점까지) 중 발생하는 우산에 대한 손해, 신체에 대한 상해를 포함하여 모든 책임은 회원이 부담하나, 상해, 손해가 회사의 고의나 과실에 기해 발생할 경우 제 15조(회사의 의무)에 따릅니다.
            <br>2. 우산에 기술적 결함이 있거나 이용 시작 또는 이용 도중 우산이 달리 훼손되는 경우, 이러한 모든 결함 및 훼손은 회사에 신고 하여야 합니다.
            <br>3. 서비스 이용 중 회원 자신의 위법 행위로 인하여 부과 받은 벌금 및 과태료 등은 회원 본인이 직접 부담하여야 합니다.
            <br>4. 회원은 서비스 이용에 필요한 아이디, 비밀번호, 결제정보 등을 안전하게 기밀로 유지해야 합니다. 회원이 자신의 아이디, 비밀번호, 결제정보 등의 관리를 소홀히 하여 발생하는 모든 책임은 회원 본인에게 있습니다. 다만, 회사의 귀책이 경합한 경우 민법 등 관계 법령에 따라 책임을 부담합니다.
            <br>5. 회원 가입 및 서비스 이용과 관련하여 회원이 입력한 정보 및 그 정보와 관련하여 발생한 책임과 불이익은 전적으로 회원이 부담하여야 합니다. 다만, 회사의 귀책이 경합한 경우 민법 등 관계 법령에 따라 책임을 부담합니다.
            <br>6. 회원은 서비스를 이용 하기 전에 서비스 조건을 확인해야 합니다. 조건을 확인하지 않고 서비스를 이용함으로써 발생하는 모든 손실과 손해에 대한 책임은 회원 본인에게 있습니다. 다만, 회사의 귀책이 경합한 경우 민법 등 관계 법령에 따라 책임을 부담합니다.
            <br>7. 회원은 회사가 서비스를 안전하게 제공할 수 있도록 회사에 협조하여야 하며, 회사가 회원의 본 약관 및 이용정책 위반행위를 발견하여 회원에게 해당 위반행위에 대하여 소명을 요청할 경우 회원은 회사의 요청에 적극 응하여야 합니다.
            <br>8. 회원은 분쟁이 발생한 경우 분쟁의 해결을 위하여 성실히 임하여야 하며, 회원이 고의적으로 성실히 임하지 않아서 회사 또는 상대 회원 또는 제3자에게 손해가 발생한 경우 회원은 이에 대한 책임을 부담하여야 합니다.
            <br>9. 회원은 서비스 지역 내에서 우산을 이용하고 반납해야 합니다. 서비스 지역을 벗어나는 등 해당 행위를 했을 경우 회사는 회원의 이용을 제한하거나 추가 요금 등을 부과할 수 있습니다.
            <br>10. 회원은 다음 각 호의 행위를 하여서는 안 됩니다.
            <br>1) 서비스 가입 또는 회원정보 변경 시 허위내용을 등록하는 행위
            <br>2) 서비스 가입 또는 사용을 위해 타인의 정보를 도용하는 행위
            <br>3) 다른 회원의 개인정보 및 계정정보를 수집하는 행위
            <br>4) 서비스 이용시 본인이 아닌 타인이 우산을 이용하는 행위
            <br>5) 고의로 우산을 훼손하는 행위
            <br>6) 회원의 계정을 타인이 사용하도록 권한을 부여하거나 양도 또는 이전하는 행위
            <br>7) 회사의 허가 없이 상업적인 용도로 이용하는 행위 (회사의 허가를 받은 경우 제외)
            <br>8) 서비스 이용 중 우산을 방치하는 행위
            <br>9) 우산을 훼손, 손상, 파손하는 행위
            <br>10) 우산을 절도하는 행위
            <br>11) 올바른 네트워크의 작동을 손상시킬 수 있는 행위
            <br>12) 회사가 게시한 정보를 권한 없이 변경하는 행위
            <br>13) 회사로부터 서면 허가 없이 앱이나 기타 서비스의 내용 등 회사가 게시한 정보를 복사하거나 배포하는 행위
            <br>14) 회사와 기타 제3자의 저작권 등 지적재산권을 침해하는 행위
            <br>15) 회사 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
            <br>16) 사용할 권한을 부여 받지 아니한 액세스 지점에서 사용하는 행위
            <br>17) 호환되지 않거나 권한을 부여 받지 않은 장치로 서비스나 앱을 사용하는 행위
            <br>18) 본 약관 및 관련법령, 이용정책을 위반하여 회사, 상대 회원 또는 제3자에게 손해를 끼치는 행위
            <br>19) 자신의 부당한 이익을 위해 회사의 정책을 이용하여 서비스나 앱을 사용하는 행위
            <br>20) 그 외 어떤 방식으로든 서비스나 웹사이트.앱에 피해를 유발하는 행위
            <br>21) 기타 불법적이거나 부당한 행위
            <br>회사는 회원이 제13항의 금지행위를 한 것으로 판단될 경우 서비스 이용을 제한할 수 있습니다.
            <p></p>
            제 16 조 (금지행위)
            <br>1. 회사가 안내하는 서비스 이용방법에 의하지 아니하고 비정상적인 방법으로 서비스를 이용하거나 회사의 시스템에 접근하는 행위는 금지됩니다.
            <br>2. 회원은 https://kickgoing.io/ 및 “KICKGOING(킥고잉)” 기타 회사가 운영하는 정보통신망에 다음 각 호에 해당하는 게시물을 게시하여서는 아니됩니다. 회원이 이를 위반한 경우 회사는 해당 회원에게 사전 통보함 없이 임의로 게시물을 삭제할 수 있습니다.
            <br>1) 대한민국의 법령을 위반하는 내용을 포함하는 경우
            <br>2) 음란한 부호·문언·음향·화상 또는 영상을 배포·판매·임대하거나 공공연하게 전시하는 내용을 포함하는 경우
            <br>3) 회사 또는 타인의 명예를 훼손하는 내용을 포함하는 경우
            <br>4) 회사 또는 타인의 권리나 명예, 신용 기타 정당한 이익을 침해하는 경우
            <br>5) 공포심이나 불안감을 유발하는 부호·문언·음향·화상 또는 영상을 반복적으로 상대방에게 도달하도록 하는 내용을 포함하는 경우
            <br>6) 「청소년보호법」에 따른 청소년유해매체물로서 상대방의 연령 확인, 표시의무 등 법령에 따른 의무를 이행하지 아니하고 영리를 목적으로 제공하는 내용을 포함하는 경우
            <br>7) 법령에 따라 금지되는 사행행위에 해당하는 내용을 포함하는 경우
            <br>8) 범죄를 목적으로 하거나 교사(敎唆) 또는 방조하는 내용을 포함하는 경우
            <br>9) 관계법령에 의거 게시가 금지된 불법제품 또는 음란물을 게시, 광고하는 경우
            <br>10) 정보통신시스템, 데이터 또는 프로그램 등을 훼손·멸실·변경·위조하거나 그 운용을 방해하는 내용을 포함하는 경우
            <br>11) 정보통신기기 또는 정보통신망의 안전을 해하는 악성코드나 데이터를 포함하는 경우
            <br>12) 광고 등 영리 목적의 내용을 포함하는 경우
            <br>13) 타 사이트의 링크를 게시하는 경우
            <br>14) 사회 공공질서나 미풍양속에 위배되는 경우
            <br>15) 회사의 서비스와 무관한 내용, 반복적인 내용 등을 게시하여 회사의 원활한 서비스 제공에 지장을 주는 것으로 판단되는 경우
            <br>3. 회원은 아래 각 호의 행위를 하여서는 아니 됩니다.
            <br>1) 합리적 사유 없이 이의를 제기하는 행위
            <br>2) 동일한 이의를 반복적∙악의적으로 제기하는 행위
            <br>3) 자신 또는 타인의 영리 목적으로 서비스를 이용하는 행위 (회사의 허가를 받은 경우 제외)
            <br>4) 정부기관, 지방자치단체 등에 허위, 과장된 제보를 반복하여 회사의 서비스의 정상적인 제공을 방해하는 행위
            <p></p>
            제 17 조 (회원에 대한 통지)
            <br>1. 회원에 대한 통지를 하는 경우 회사는 회원이 제공한 이메일 주소 또는 SMS 등으로 할 수 있습니다.
            <br>2. 회사는 불특정 다수 회원에 대한 통지의 경우 서비스 게시판 등에 게시함으로써 개별 통지에 갈음할 수 있습니다.
            <br>3. 회사가 상기와 같이 정상적으로 통지하였음에도 회원이 통지된 내용을 확인하지 않음으로써 회원에게 발생한 불이익에 대해 회사는 책임을 지지 않습니다.
            <p></p>
            제 18 조 (개인정보 수집, 이용 및 보호의무)
            <br>1. 회사는 서비스의 원활한 제공을 목적으로 개인정보를 수집 및 이용합니다. 이를 위해서 회사는 회원에게 별도의 동의를 구합니다.
            <br>2. 회사는 정보통신망법 등 관계 법령이 정하는 바에 따라 회원의 개인정보를 보호하기 위해 노력합니다. 개인정보의 보호 및 사용에 대해서는 관련법령 및 회사의 개인정보취급방침이 적용됩니다.
            <p></p>
            제 19 조 (서비스 관리 책임)
            <br>1. 회사의 서비스 관리책임자의 성명, 소속부서, 직위 및 연락처는 다음과 같습니다.
            <br>1) 상호: 주식회사 USAN
            <br>2) 성명: 이진복
            <br>3) 소속: 개발본부
            <br>4) 직위: CTO
            <br>5) 대표전화: 1800 – 7492
            <p></p>
            제 20 조 (개인정보의 동의 철회)
            <br>회원은 서비스 해지(이용 중지의 통보)의 방법으로 회사의 개인정보의 수집, 이용, 제공에 대한 동의를 언제든지 철회하실 수 있습니다.
            <p></p>
            제 21 조 (개인정보의 보유기간 및 이용기간)
            <br>회원의 개인정보는 회사가 서비스를 제공하는 기간 동안에 한하여 보유 및 이용되며, 회사는 개인정보의 수집 및 이용목적을 달성한 때에는 당해 개인정보를 지체 없이 파기합니다. 다만, 국세기본법, 법인세법, 부가가치세법 기타 관계법령의 규정에 의하여 보존할 필요성이 있는 경우에는 관계법령에 따라 보존합니다.
            <p></p>
            제 22 조 (손해배상)
            <br>1. 회원 또는 회사가 본 약관의 규정을 위반함으로 인하여 상대방에게 손해가 발생하게 되는 경우, 본 약관을 위반한 당사자는 상대방에게 그 손해를 배상하여야 합니다. 그 손해는 통상의 손해에 한하며, 특별한 사정으로 인한 손해는 그것을 알았거나 알 수 있었을 때에 배상책임을 부담합니다.
            <br>2. 회원은 서비스를 이용함에 있어서 다른 회원, 제3자에게 신체 또는 재산상 피해 등 모든 상해나 손해, 손실이 발생한 경우 회원이 모든 것을 배상하여야 합니다. 다만, 회사의 귀책이 경합한 경우 민법 등 관계 법령에 따라 책임을 부담합니다.
            <p></p>
            제 23 조 (회원탈퇴 및 자격상실)
            <br>1. 회원은 언제든지 이메일 등 기타 회사가 정한 방법으로 회원탈퇴를 요청할 수 있으며, 회사는 회원의 요청에 따라 조속히 회원탈퇴에 필요한 제반 절차를 수행합니다. 단, 회원에게 미수가 있을 경우에는 미수에 대한 결제를 완료한 이후에 탈퇴 신청이 가능합니다.
            <br>2. 회원이 회원 탈퇴를 한 경우 회원이 추후 재가입 신청을 하여도 회사는 이에 대한 승낙을 거부할 수 있습니다.
            <br>3. 회원의 귀책사유로 인하여 이용계약이 해지됨으로써 발생한 손해는 회원이 부담하여야 합니다. 회사는 제1항에 따른 이용계약의 해지로 인해 발생할 수 있는 불이익 등에 대하여 귀책사유가 없으면 책임을 부담하지 않습니다. 회사가 이용계약에 기초하여 회원에게 제공한 혜택은 이용계약과 함께 종료됩니다.
            <br>4. 회원이 다음 각 호에 해당하는 경우, 회사는 회원자격을 상실시킬 수 있습니다.
            <br>1) 가입 신청 시에 허위 내용을 등록한 경우
            <br>2) 본 약관의 중대한 위반, 고의적인 위반 및 관계법령에 위반되거나 공서양속에 반하는 행위를 하는 등 회원자격을 유지시키는 것이 부적절하다고 판단되는 경우
            <br>5. 회원은 제2항에 따른 서비스 이용정지 기타 서비스 이용과 관련된 이용제한에 대해 회사가 정한 절차에 따라 이의신청을 할 수 있으며, 회사는 회원의 이의신청이 정당하다고 판단되는 경우 즉시 서비스 이용을 재개합니다.
            <br>6. 회원이 사망한 경우 회원 사망일에 회원자격이 상실되며, 제3자가 사망자의 회원자격을 도용하여 행한 모든 행위는 유효한 것으로 인정되지 않습니다.
            <br>7. 회원 탈퇴 시 3개월간 회원 재가입이 제한됩니다. 단, 회사에서 허가한 경우에는 재가입이 가능합니다.
            <br>8. 회원탈퇴 후 재가입시 승인 여부의 판단을 위해 3개월 동안 해당 회원의 회원가입 기재 정보 및 서비스 이용 정보 등 개인정보를 보관하고, 그 이후에는 이를 삭제/폐기 처리합니다.
            <br>9. 회원 탈퇴 시 회원이 보유한 쿠폰과 무료 포인트 등 모든 권리는 자동으로 소멸됩니다. 본 조 제5항에 따라 재가입한 경우에도 탈퇴 시 소멸된 기존 쿠폰과 무료포인트 등은 복구되지 않습니다.
            <p></p>
            제 24 조 (저작권의 귀속 및 이용제한)
            <br>1. 회사가 작성한 저작물에 대한 저작권 기타 지적재산권은 회사에 귀속합니다.
            <br>2. 회사가 운영하는 정보통신망에 게시된 내용에 대한 지적재산권은 제25조 제1항의 게시물을 제외하고는 모두 회사에게 귀속됩니다.
            <br>3. 회원은 서비스를 이용함으로써 얻은 정보를 회사의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리 목적으로 이용하거나 제3자가 이용하도록 하여서는 안됩니다.
            <p></p>
            제 25 조 (게시물의 관리)
            <br>1. 회원의 게시물이 정보통신망법 및 저작권법 등 관련법령에 위반되는 내용을 포함하는 경우, 권리자는 관련법령이 정한 절차에 따라 해당 게시물의 게시중단 및 삭제 등을 요청할 수 있으며, 회사는 관련법령에 따라 조치를 취하여야 합니다.
            <br>2. 회사는 전항에 따른 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 기타 회사 정책 및 관련법령에 위반되는 경우에는 관련법령에 따라 해당 게시물에 대해 임시조치 등을 취할 수 있습니다.
            <p></p>
            제 26 조 (책임 제한)
            <br>1. 회사는 천재지변 또는 이에 준하는 불가항력 및 회사의 귀책사유가 아닌 사유로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.
            <br>2. 회사는 회원의 귀책사유로 인한 서비스 이용의 장애 및 손해에 대하여는 책임을 지지 않습니다. 다만, 회사의 귀책이 경합한 경우 민법 등 관계 법령에 따라 책임을 부담합니다.
            <br>3. 회사는 회원의 수익을 보장하지 않습니다.
            <br>4. 회사는 회원이 서비스와 관련하여 제공한 정보 및 그 정보의 진실성 또는 적법성 등 일체에 대하여 보증하지 않습니다.
            <p></p>
            제 27 조 (서비스 종료)
            <br>1. 회사가 서비스를 종료하고자 할 경우 회사는 서비스를 종료하고자 하는 날로부터 3개월 이전에 본 약관 제3조 제2항에서 정한 방법으로 회원에게 알려드립니다.
            <br>2. 본 조 제1항에 따라 서비스가 종료되는 경우 회사는 관계법령에 따라 보유하고 있는 개인정보를 파기합니다.
            <br>3. 서비스가 종료되는 경우 회원이 쿠폰 등은 모두 자동 소멸됩니다.
            <p></p>
            제 28 조 (준거법 및 관할법원)
            <br>본 약관에서 정하지 않은 사항과 본 약관의 해석에 대해서는 대한민국법령 및 상관례에 따르며, 서비스 및 본 약관과 관련한 제반 분쟁 및 소송은 민사소송법에 따릅니다.
            <p></p>
            부칙
            <br>제 1 조 (시행일) 이 약관은 2021년 9월 24일부터 시행합니다.


        </div>
    </div>

    <p></p>
    <div class="chk" style="text-align: left;  color : #666666;">
        <input type="checkbox" id="chk_part" name="chk_part" value="part" class="chk_part">
        <span class="chk_part_txt">개인정보 수집 및 이용 동의<span class="terms_necessary">(필수)</span></span>
    </div>

    <p></p>
    <div class="content">
        <h3 class="content__title">개인정보 처리 방침</h3>
        <div class="content__text">
            주식회사 USAN(이하 “회사”라고 합니다.)는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보 보호법 등 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보처리방침을 정하여 회원의 권익 보호에 최선을 다하고 있습니다. 회사는 개인정보처리방침을 통하여 회원이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다. 회사는 개인정보취급방침을 개정하는 경우 앱 공지사항(또는 개별공지)을 통하여 공지할 것입니다. 본 방침은 2021년 9월 24일부터 시행됩니다.
            <p></p>
            제 1 조 (개인정보의 수집 및 이용목적)
            <br>회사는 개인정보를 회원관리, 서비스 개발·제공 및 향상, 안전한 모바일 이용환경 등 다음의 목적을 위하여 수집하고 처리합니다. 처리한 개인정보는 다음의 목적 이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 것입니다.
            <p></p>
            1. 본 약관은 서비스를 신청한 회원 또는 개인위치정보주체가 본 약관에 동의하고 회사가 정한 소정의 절차에 따라 서비스의 이용자로 등록함으로써 효력이 발생합니다.
            <br>2. 회원 가입 의사 및 회원 탈퇴 의사 확인
            <br>3. 회원 가입 신청 휴대전화번호 명의인와과 회원 가입 신청인의 동일성 확인
            <br>4. 회원에게 약관 상 회원 가입 거절 사유가 있는지 여부 등 회원 가입 신청에 대한 회사의 승낙 여부 판단
            <br>5. 회원에 대한 서비스 제공
            <br>6. 서비스를 이용하는 회원 식별
            <br>7. 1 회원 1 계정 부여
            <br>8. 계정도용 및 부정거래 방지, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재
            <br>9. 회원의 법령 및 약관 위반 여부 모니터링, 회원의 법령 및 약관 위반에 대한 회사의 조치, 회원에 대한 쿠폰 지급, 소멸, 회원의 저작물 식별 등 회원 관리
            <br>10. 약관 상 필요한 회사의 회원에 대한 통지, 정보 전달
            <br>11. 보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축
            <br>12. 연령, 성별, 서비스 이용 기록, 웹사이트 및 어플리케이션 “USAN(우산)” 접속 빈도 및 통계 분석 등을 통한 서비스 개선, 향상 및 신규 서비스 개발
            <br>13. 회사와 회원 사이의 분쟁 발생 시 분쟁 해결, 분쟁 조정, 회원의 문의사항 또는 불만에 대한 처리
            <br>14. 서비스 이용요금 과금, 과금 불능(회원의 등록카드가 기간경과, 계약종료, 유효성, 잔액부족, 한도초과, 회원의 허위 등록, 오등록 등)에 대한 대응, 과금에 대한 회원의 이의제기에 대한 대응
            사고발생시 원인 규명 및 처리를 위한 수집 및 이용
            <br>15. 법령에 정해진 절차와 방법에 따라 수사기관의 요구
            <br>16. 이벤트 정보 및 참여기회 제공, 광고성 제공 정보 등 마케팅 및 프로모션 목적으로 개인정보를 이용합니다.
            <p></p>
            제 2 조 (수집하는 개인정보의 항목)
            <br>회사가 수집∙이용하는 개인정보 및 그 수집방법은 아래와 같습니다.
            <p></p>
            1. 회원 가입 신청 시에 회사는, 회원이 직접 웹사이트 및 어플리케이션 “USAN(우산)” 통하여 전송제공하는 방식으로 다음의 항목을 필수항목으로 수집하고 있습니다.
            <br>1) 성별, 성명, 생년월일, 휴대전화번호, 이메일주소
            <br>2) 내국인정보, 중복확인가입정보(DI)
            <br>2. 회원 가입 이후 회사는 회원이 직접 모바일 어플리케이션 “KICKGOING(킥고잉)”에 기입하는 방식으로 다음의 항목을 선택항목으로 수집할 수 있습니다.
            <br>1) 별명, 프로필 사진, 이메일주소, 성별, 연령(생년월일)
            <br>3. 서비스 이용과정이나 사업 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
            <br>1) IP Address, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록, 기기 정보, 채팅 기록, 앱 설치정보, 네트워크 위치정보 등
            <br>4. 회원의 약관 상 서비스 이용 과정에서 회사는, 회원이 웹사이트 및 어플리케이션 “USAN(우산)”을 통하여 위치기반 서비스 이용약관에 동의하는 방식으로 회원이 이를 동의한 경우에 한하여 개인위치정보사업자(휴대전화 제조사, 통신사, 포털사 등)에게 회원 가입 명의 휴대전화가 특정한 시간에 존재하거나 존재하였던 장소에 관한 정보(이하 “개인위치정보”라고 합니다.)의 제공을 요청하여 수령합니다. 개인위치정보의 이용, 제공에 관한 사항은 위치기반 서비스 이용약관에 기재되어 있습니다.
            <br>5. 서비스 이용과정에서 다음과 같은 결제정보들이 수집될 수 있습니다.
            <br>1) 신용카드/간편결제 결제 시: 카드사명, 카드번호 등
            <br>2) 계좌 이체 시: 은행명, 계좌번호 등
            <br>3) 상품권 이용 시: 상품권 번호
            <br>4) 환불 시 : 은행명, 계좌번호 등
            <br>6. 회사는 회원의 결제수단 등 서비스 운영상 필요하다고 판단하는 회원의 정보에 대하여 정기적으로 유효성을 검사하거나 확인할 수 있습니다.
            <p></p>
            제 3 조 (개인정보의 보유 및 이용 기간)
            <br>개인정보의 보유 및 이용 기간은 아래와 같습니다.
            <p></p>
            1. 회사는 회원이 회원자격을 유지하고 있는 동안 수집된 회원의 개인정보를 보유ㆍ이용할 수 있습니다.
            <br>2. 회원이 탈퇴하거나 자격을 상실할 경우, 회사는 회원의 별도 요청이 없더라도 수집된 회원정보를 삭제 및 파기합니다. 단, 회원의 탈퇴 또는 자격상실에도 불구하고 다음의 정보는 아래의 이유로 명시 기간 동안 보존됩니다.
            <br>1) 회사 내부 방침에 의한 정보 보유
            <br>· 탈퇴회원의 재가입 제한을 위한 회원정보 기록: 3개월
            <br>· 이용 제한 회원 및 부정이용자의 재가입 제한을 위한 회원정보 기록: 제한기간에 따라 1년 또는 영구(별도저장)
            <br>2) 관계법령에 의한 정보 보유 사유
            <br>① 전자상거래 등에서 소비자 보호에 관한 법률
            <br>· 표시, 광고에 관한 기록 - 6개월,
            <br>· 계약에 관한 기록 - 5년 보관,
            <br>· 대금결제 및 서비스 제공에 관한 기록 - 5년 보관,
            <br>· 회원의 불만 또는 분쟁처리에 관한 기록 - 3년 보관
            <br>② 통신비밀보호법
            <br>· 웹사이트 및 회원의 “USAN(우산)” 접속 일시, 전동킥보드 이용 개시 및 종료 시간, 사용도수, 접속 정보를 감지한 기지국의 위치추적자료 - 1년
            <br>· 로그인 기록, 회원이 웹사이트 및 어플리케이션 “USAN(우산)” 에 접속하기 위하여 사용하는 휴대전화의 위치를 확인할 수 있는 접속지의 추적자료 - 3개월
            <br>③ 전자금융거래법
            <br>· 전자금융 거래에 관한 기록 : 5년
            <br>3. 회원이 1년 이상 서비스를 이용하지 않고 연체나 채무불이행 상태가 아닌 경우 해당 회원은 “휴면회원”으로 처리됩니다. 휴면회원으로 처리되면 로그인을 비롯한 모든 서비스에 대한 이용이 정지되고, 회사는 휴면회원의 개인정보를 제2항에 따른 정보 보유의 대상이 아닌 한 기존 회원과 별도로 관리합니다. 회사는 휴면회원 처리 예정일 30일 전 해당 사실을 사전 안내하며, 회원은 휴면회원 처리 이후에 플랫폼에서 휴면상태 해지 신청을 하는 즉시 다시 정상적으로 서비스를 이용할 수 있습니다.
            <p></p>
            제 4 조 (동의의 거부권 및 거부 시의 불이익 고지)
            <br>회원은 개인정보 수집ㆍ이용에 관한 동의를 거부할 권리가 있습니다. 다만, 계약 체결 및 이행 등을 위해 필요한 최소한의 개인정보 수집ㆍ이용에 관한 동의를 거부하는 경우에는 서비스 이용이 불가하고, 철회 이후 임대계약에 따른 운행건에 대한 사고 처리• 보상•환불 등의 업무가 지연되는 등의 불이익이 있을 수 있습니다.
            <p></p>
            또한, 마케팅 활동 및 홍보를 위한 개인정보 수집ㆍ이용 및/또는 선택적 수집ㆍ이용에 관한 동의를 거부하는 경우에는 이벤트, 혜택에 대한 정보를 제공받지 못하거나 사은품ㆍ판촉물 제공, 제휴서비스 이용, 할인 혜택 적용 및 포인트 적립 불가 등의 불이익이 있을 수 있습니다.
            <p></p>
            제 5 조 (개인정보의 파기 절차 및 방법)
            <br>회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 회사의 개인정보 파기 방법은 다음과 같습니다.
            <br>1. 전자 파일 : 복원이 불가능한 방법으로 영구삭제
            <br>2. 종이 문서 : 파쇄 또는 소각
            <p></p>
            제 6 조 (회원 및 법정대리인의 권리와 그 행사방법)
            <br>1. 회원 및 법정대리인은 회사에 대해 언제든지 다음 각 호의 개인정보보호 관련 권리를 행사할 수 있으며, 등록되어 있는 본인 혹은 대리자의 개인정보에 대한 열람, 정정, 삭제 및 처리 정지를 요청할 수 있습니다.
            <br>1) 개인 정보 열람 요구
            <br>2) 오류 등이 있을 경우 정정 요구
            <br>3) 삭제요구
            <br>4) 처리정지 요구
            <br>2. 전 항에 따른 권리 행사는 서면, 전화 또는 이메일로 하실 수 있으며 회사는 이에 대해 지체 없이 조치하고 처리결과를 서면 또는 이메일, 문자 전송의 방법으로 통지합니다.
            <br>3. 회원이 개인정보의 오류에 대한 정정을 요청한 경우, 회사는 당해 정정을 완료하기 전까지 당해 개인정보를 이용하거나 제3자에게 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 제공한 경우에는 정정 처리 결과를 제3자에게 지체 없이 통지합니다.
            <br>4. 회원이 개인정보의 삭제를 요청한 경우 제3조의 개인정보의 보유 및 이용 기간과 제4조의 개인정보의 파기 절차 및 방법에 명시된 바에 따릅니다.
            <br>5. 본 조에 따른 권리 행사는 회원 또는 위임을 받은 자(대리인)을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출 하셔야 합니다.
            <p></p>
            제 7 조 (개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항)
            <br>회사는 회원의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)' 등을 운용합니다. 쿠키란 회사의 웹사이트 및 어플리케이션을 운영하는데 이용되는 서버가 회원에게 보내는 아주 작은 텍스트 파일로서 회원의 컴퓨터 및 휴대전화에 저장됩니다. 쿠키의 사용 목적 및 쿠키 설정 거부 방법은 다음과 같습니다.
            <br>1. 쿠키 등 사용 목적: 회원의 접속 빈도나 접속 시간 등을 분석, 회원의 이용 시간, 이동 경로 파악 및 추적, 모바일 어플리케이션 항목 확인 횟수 파악 등을 통한 개인 맞춤 서비스를 제공하기 위해 사용합니다.
            <br>2. 쿠키 설정 거부 방법: 회원이 이용하는 브라우저에서 “설정” 내의 “개인정보보호” 항목에서 쿠키를 허용하지 않게 설정
            <br>3. 단, 회원이 쿠키 설치를 거부하였을 경우 기술 지원 및 서비스 제공에 어려움이 있을 수 있으며, 이 경우 회사는 책임을 지지 않습니다.
            <br>4. 온라인 맞춤형 광고 서비스를 위해서 다음의 항목을 수집 할 수 있습니다.
            <br>1) 모바일 앱 사용시 광고 식별자 수집
            <br>회사는 이용자의 ADID/IDFA를 수집할 수 있습니다. ADID/IDFA란 모바일 앱 이용자의 광고 식별 값으로서, 사용자의 맞춤 서비스 제공이나 더 나은 환경의 광고를 제공하기 위한 측정을 위해 수집할 수 있습니다.
            <br>거부방법
            <br>① Android: 설정 → 구글(구글설정) → 광고 → 광고 맞춤설정 선택 해제
            <br>② iOS: 설정 → 개인정보 보호 → 광고 → 광고 추적 제한
            <p></p>
            제 8 조 (개인정보의 제3자 제공)
            <br>회사는 회원의 개인정보를 “제1조 개인정보의 수집∙이용 목적”, “제2조 수집∙이용하는 개인정보의 항목” 내에서만 처리하며, 회원의 사전 동의 없이는 동의 범위를 초과하여 이용하거나 제3자에게 제공하지 않습니다. 다만, 다음의 경우 예외로 합니다.
            <p></p>
            1. 이용자가 사전에 제3자 제공에 동의한 경우
            <br>2. 서비스 제공에 따른 요금 정산을 위하여 필요한 경우
            <br>3. 법령의 규정에 의하거나, 수사•조사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관 및 감독당국의 요구가 있는 경우
            <br>4. 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우
            <p></p>
            그 밖에 보다 나은 서비스 제공을 위하여 개인정보 제3자 제공이 필요한 경우, 회사는 사전에 개인정보를 제공받는 자, 개인정보를 제공받는 자의 개인정보 이용목적, 제공하는 개인정보의 항목, 개인정보를 제공받는 자의 개인정보 보유 및 이용기간, 정보제공 동의를 거부할 권리가 있다는 사실 및 동의 거부 에 따른 불이익 등을 명시하여 이용자의 동의를 구합니다.
            <p></p>
            단, 개인정보를 제공받은 제3자는 제공 목적을 달성하거나 이용자의 철회 요청이 있더라도, 내부보고, 감사 및 검사, 비용 정산(청구) 등 계약이행, 분쟁 대비를 위해 필요한 정보는 서비스약관 및 임대약관에 명시한 임대계약에 따른 거래관계의 종료 후 6개월까지, 미이행•분쟁이 계속될 경우 이행 완료•분쟁 해결 시까지 개인정보를 보유•이용할 수 있으며, 상법 등 관련 법령에 특별한 규정이 있을 경우 그에 의하여 보관할 수 있습니다.
            <p></p>
            제 9 조 (개인정보처리의 위탁)
            <br>회사는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.
            <p></p>
            회사는 서비스 제공을 위하여 필요한 업무 중 일부를 외부 업체에 위탁하고 있으며, 위탁계약 체결시 개인정보보호법 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적·관리적 보호조치, 위탁업무의 목적 및 범위, 재위탁 제한, 개인정보 접근 제한 등 안전성 확보 조치, 수탁자에 대한 관리·감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하도록 필요한 사항을 규정하고 관리·감독합니다.
            <p></p>
            위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.
            <p></p>
            제 10 조 (개인정보의 안전성 확보 조치)
            <br>회사는 회원의 개인정보를 안전하게 관리하기 위하여 최선을 다하며, 정보통신망법 및 개인정보보호법에서 요구하는 수준 이상으로 개인정보를 보호하기 위하여 다음과 같은 조치를 취하고 있습니다.
            <p></p>
            1. 관리적 조치: 개인정보 관리책임자의 지정 등 개인정보보호 조직의 구성, 개인정보 취급자를 최소한으로 제한, 운영에 관한 사항, 개인정보취급자의 교육에 관한 사항을 포함하는 내부관리계획의 수립 및 시행
            <br>2. 기술적 조치: 개인정보를 처리할 수 있도록 체계적으로 구성한 데이터베이스시스템에 대한 접근권한의 부여/변경/말소 등에 관한 기준의 수립/시행, 개인정보처리시스템에 대한 침입차단시스템 및 침입탐지시스템의 설치/운영, 개인정보취급자가 개인정보처리시스템에 접속하여 개인정보를 처리한 경우 접속일시, 처리내역 등의 저장 및 이의 확인/감독, 비밀번호의 일방향 암호화 저장, 주민등록번호, 외국인인증번호, 계좌정보, 신용카드정보 등 금융정보의 암호화 저장, 정보통신망을 통하여 이용자의 개인정보 및 인증정보를 송신/수신하는 경우 암호화 보안 통신 이용, 개인정보처리시스템 및 개인정보취급자가 개인정보 처리에 이용하는 정보기기에 컴퓨터바이러스, 스파이웨어 등 악성프로그램의 침투 여부를 항시 점검/치료할 수 있도록 백신소프트웨어 설치 및 주기적 갱신 및 점검
            <p></p>
            제 11 조 (개인정보보호 업무 관련 담당부서 및 개인정보 관리책임자)
            <br>회사는 회원의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보 관리책임자를 지정하고 있습니다. 회원은 회사의 서비스를 이용하며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고할 수 있습니다. 회사는 회원들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.
            <br>· 개인정보 보호 담당부서 | 주식회사 USAN 고객센터 | 이메일: help@kickgoing.io
            <br>· 개인정보관리책임자 | 이진복 이사 | 이메일: help@kickgoing.io
            <p></p>
            기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
            <br>· 개인정보침해신고센터 (http://www.1336.or.kr/국번없이 118)
            <br>· 개인정보분쟁조정위원회 (www.kopico.go.kr/국번없이 1833-6972)
            <br>· 대검찰청 사이버범죄수사단 (http://spo.go.kr/02-3480-3573)
            <br>· 경찰청 사이버안전국 (http://cyberbureau.police.go.kr/국번없이 182)
            <p></p>
            제 12 조 (고지 의무)
            <br>현 개인정보취급방침에 대하여 내용 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 '공지사항'을 통해 고지합니다. 다만, 개인정보의 수집 및 활용, 제3자 제공 등과 같이 회원 권리의 중요한 변경이 있을 경우에는 최소 30일 전에 고지합니다.
            <p></p>
            부칙
            <br>공고일자 : 2021년 9월 24일
            <br>시행일자 : 2021년 9월 24일
        </div>
    </div>

    <p></p>
    <div class="chk" style="text-align: left;  color : #666666;">
        <input type="checkbox" id="chk_part" name="chk_part" value="part" class="chk_part">
        <span class="chk_part_txt">위치정보 이용약관 동의<span class="terms_necessary">(필수)</span>
    </div>

    <p></p>
    <div class="content">
        <h3 class="content__title" >위치기반서비스 이용약관</h3>
        <div class="content__text">
            제 1 조 (목적)
            <br>본 약관은 회원(주식회사 USAN의 “서비스 이용약관”에 동의한 자를 말합니다. 이하 “회원”이라고 합니다)이 주식회사 USAN(이하 “회사”라고 합니다)가 제공하는 위치기반서비스(이하 “서비스”라고 합니다)를 이용함에 있어 회사와 회원의 권리∙의무 및 책임사항을 규정함을 목적으로 합니다.
            <p></p>
            제 2 조 (약관의 효력 및 변경)
            <br>1. 본 약관은 서비스를 신청한 회원 또는 개인위치정보주체가 본 약관에 동의하고 회사가 정한 소정의 절차에 따라 서비스의 이용자로 등록함으로써 효력이 발생합니다.
            <br>2. 회원이 온라인에서 본 약관의 “동의하기" 버튼을 클릭하였을 경우 본 약관의 내용을 모두 읽고 이를 충분히 이해하였으며, 그 적용에 동의한 것으로 봅니다.
            <br>3. 회사는 본 약관의 내용을 회원이 쉽게 알 수 있도록 서비스 초기 화면에 게시하거나 기타의 방법으로 공지합니다.
            <br>4. 회사는 위치정보의 보호 및 이용 등에 관한 법률, 콘텐츠산업 진흥법, 전자상거래 등에서의 소비자보호에 관한 법률, 소비자 기본법, 약관의 규제에 관한 법률 등 관련법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
            <br>5. 회사가 약관을 개정할 경우에는 기존약관과 개정약관 및 개정약관의 적용일자와 개정사유를 명시하여 현행약관과 함께 그 적용일자 7일전부터 적용일 이후 상당한 기간동안 공지합니다. 다만, 개정 내용이 회원에게 불리한 경우에는 그 적용일자 30일 전부터 적용일 이후 상당한 기간 동안 각각 이를 서비스 홈페이지에 게시하거나 회원에게 전자적 형태(전자우편, SMS 등)으로 약관 개정 사실을 발송하여 고지합니다.
            <br>6. 회사가 전항에 따라 회원에게 공지하거나 통지하면서 공지 또는 통지ᆞ고지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도 불구하고 거부의 의사표시가 없는 경우에는 변경된 약관에 승인한 것으로 봅니다. 회원이 개정약관에 동의하지 않을 경우 회원은 이용계약을 해지할 수 있습니다.
            <p></p>
            제 3 조 (관계법령의 적용)
            <br>본 약관에 규정되지 않은 사항에 대해서는 위치정보의 보호 및 이용 등에 관한 법률(이하 “위치정보법”이라고 합니다), 전기통신사업법, 정보통신망 이용촉진 및 보호 등에 관한 법률(이하 “정보통신망법”이라고 합니다), 개인정보보호법 등 관련법령 또는 회사가 정한 서비스의 운영정책 및 규칙 등(이하 “세부지침”이라고 합니다)의 규정에 따릅니다.
            <p></p>
            제 4 조 (가입자격)
            <br>서비스에 가입할 수 있는 자는 위치기반서비스를 이용할 수 있는 이동전화 단말기, 기타 서비스를 이용할 수 있는 단말기(이하 “단말기”라 합니다)의 소유자 본인입니다.
            <p></p>
            제 5 조 (서비스의 가입)
            <br>1. 회사가 정한 본 약관에 회원이 동의하고, 회사가 승낙함으로써 서비스 가입의 효력이 발생합니다.
            <br>2. 회사는 다음 각 호의 회원가입 신청에 대해서는 승낙하지 아니할 수 있습니다.
            <br>1) 본인이 아니거나 다른 사람의 명의를 사용하는 등 허위로 신청하는 경우
            <br>2) 회원 등록 사항을 빠뜨리거나 잘못 기재하여 신청하는 경우
            <br>3) 공공질서 또는 미풍양속을 저해하거나 저해할 목적으로 신청한 경우
            <br>4) 기타 회사가 정한 이용신청 요건이 충족되지 않았을 경우
            <p></p>
            제 6 조 (서비스의 해지)
            <br>회원이 서비스 이용을 해지하고자 할 경우 회원은 회사가 정한 절차(서비스 홈페이지 등을 통해 공지합니다)를 통해 서비스 해지를 신청할 수 있으며, 회사는 법령이 정하는 바에 따라 신속히 처리합니다.
            <p></p>
            제 7 조 (서비스의 내용)
            <br>1. 서비스의 이용은 연중무휴 1일 24시간을 원칙으로 합니다. 단, 회사의 업무 또는 기술상의 이유로 서비스가 일시 중지될 수 있으며, 운영상의 목적으로 회사가 정한 기간에도 서비스는 일시 중지될 수 있습니다. 이때 회사는 사전 또는 사후에 이를 공지합니다.
            <br>2. 위치정보는 관련 기술의 발전에 따라 오차가 발생할 수 있습니다.
            <p></p>
            제 8 조 (서비스의 이용요금)
            <br>1. 회사가 제공하는 서비스는 기본적으로 유료 또는 무료입니다. 단, 별도의 유료서비스의 경우 해당 서비스에 명시된 요금을 지불하여야 사용 가능합니다.
            <br>2. 회사는 유료서비스 이용요금을 회사와 계약한 전자지불업체에서 정한 방법에 의하거나 회사가 정한 청구서에 합산하여 청구할 수 있습니다.
            <br>3. 유료서비스 이용을 통하여 결제된 대금에 대한 취소 및 환불은 회사의 결제 이용약관 등 관련법령에 따릅니다.
            <br>4. 회원의 개인정보도용 및 결제사기로 인한 환불요청 또는 결제자의 개인정보 요구는 법률이 정한 경우 외에는 거절될 수 있습니다.
            <br>5. 무선서비스 이용 시 발생하는 데이터 통신료는 별도이며, 회원이 가입한 각 이동통신사의 정책에 따릅니다.
            <br>6. MMS 등으로 게시물을 등록할 경우 발생하는 요금은 회원이 가입한 각 이동통신사의 정책에 따릅니다.
            <p></p>
            제 9 조 (서비스 이용의 제한 및 중지)
            <br>1. 회사는 아래 각 호의 경우에는 회원의 서비스 이용을 제한하거나 중지시킬 수 있습니다.
            <br>1) 회원이 회사 서비스의 운영을 고의 또는 중과실로 방해하는 경우
            <br>2) 서비스용 설비 점검, 보수 또는 공사로 인하여 부득이한 경우
            <br>3) 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우
            <br>4) 국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 서비스 이용에 지장이 있는 때
            <br>5) 기타 중대한 사유로 인하여 회사가 서비스 제공을 지속하는 것이 부적당하다고 인정하는 경우
            <br>2. 회사는 전항의 규정에 의하여 서비스의 이용을 제한하거나 중지한 때에는 그 사유 및 제한기간 등을 회원에게 알려야 합니다.
            <p></p>
            제 10 조 (서비스 내용 변경 통지 등)
            <br>1. 회사가 서비스 내용을 변경하거나 종료하는 경우 회사는 회원의 등록된 전자우편 주소로 이메일을 통하여 서비스 내용의 변경 사항 또는 종료를 통지할 수 있습니다.
            <br>2. 본조 1항의 경우 불특정 다수인을 상대로 통지를 함에 있어서는 웹사이트 등 기타 회사의 공지사항을 통하여 회원들에게 통지할 수 있습니다.
            <p></p>
            제 11 조 (개인위치정보의 이용 또는 제공)
            <br>1. 회사는 개인위치정보를 이용하여 서비스를 제공하고자 하는 경우에는 미리 약관에 명시한 후 개인위치정보주체의 동의를 얻어야 합니다.
            <br>2. 회원 및 법정대리인의 권리와 그 행사방법은 제소 당시의 이용자의 주소에 의하며, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
            <br>3. 회사는 타사업자 또는 이용 고객과의 요금정산 및 민원처리를 위해 위치정보 이용·제공사실 확인자료를 자동 기록·보존하며, 해당 자료는 1년간 보관합니다.
            <br>4. 회사는 개인위치정보주체의 동의 없이 개인위치정보를 제3자에게 제공하지 아니하며, 제3자 제공 서비스를 제공하는 경우에는 제공 받는자 및 제공목적을 사전에 개인위치정보주체에게 고지하고 동의를 받습니다. 다만, 다음의 경우는 예외로 하고 있습니다.
            <br>1) 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우
            <br>5. 회사는 개인위치정보를 회원이 지정하는 제3자에게 제공하는 경우에는 개인위치정보를 수집한 당해 통신 단말장치로 매회 회원에게 제공받는 자, 제공 일시 및 제공 목적을 즉시 통보합니다. 단, 아래 각 호의 1에 해당하는 경우에는 회원이 미리 특정하여 지정한 통신 단말장치 또는 전자우편주소로 통보합니다.
            <br>1) 개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지 아니한 경우
            <br>2) 회원이 온라인 게시 등의 방법으로 통보할 것을 미리 요청한 경우
            <p></p>
            제 12 조 (개인위치정보주체의 권리)
            <br>1. 회원은 회사에 대하여 언제든지 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의의 전부 또는 일부를 철회할 수 있습니다. 이 경우 회사는 수집한 개인위치정보 및 위치정보 이용, 제공사실 확인자료를 파기합니다.
            <br>2. 회원은 회사에 대하여 언제든지 개인위치정보의 수집, 이용 또는 제공의 일시적인 중지를 요구할 수 있으며, 회사는 이를 거절할 수 없고 이를 위한 기술적 수단을 갖추고 있습니다.
            <br>3. 회원은 회사에 대하여 아래 각 호의 자료에 대한 열람 또는 고지를 요구할 수 있고, 당해 자료에 오류가 있는 경우에는 그 정정을 요구할 수 있습니다. 이 경우 회사는 정당한 사유 없이 회원의 요구를 거절할 수 없습니다.
            <br>1) 본인에 대한 위치정보 수집, 이용, 제공사실 확인자료
            <br>2) 본인의 개인위치정보가 위치정보의 보호 및 이용 등에 관한 법률 또는 다른 법률 규정에 의하여 제3자에게 제공된 이유 및 내용
            <br>4. 회원은 제1항 내지 제3항의 권리행사를 위해 회사의 소정의 절차를 통해 요구할 수 있습니다.
            <p></p>
            제 13 조 (법정대리인의 권리)
            <br>1. 회사는 14세 미만의 회원에 대해서는 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의를 당해 회원과 당해 회원의 법정대리인으로부터 동의를 받아야 합니다. 이 경우 법정대리인은 제12조에 의한 회원의 권리를 모두 가집니다.
            <br>2. 회사는 14세 미만의 아동의 개인위치정보 또는 위치정보 이용, 제공사실 확인자료를 이용약관에 명시 또는 고지한 범위를 넘어 이용하거나 제3자에게 제공하고자 하는 경우에는 14세 미만의 아동과 그 법정대리인의 동의를 받아야 합니다. 단, 아래의 경우는 제외합니다.
            <br>1) 위치정보 및 위치기반서비스 제공에 따른 요금정산을 위하여 위치정보 이용, 제공사실 확인자료가 필요한 경우
            <br>2) 통계작성, 학술연구 또는 시장조사를 위하여 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우
            <p></p>
            제 14 조 (8세 이하의 아동 등의 보호의무자의 권리)
            <br>1. 회사는 아래의 경우에 해당하는 자(이하 “8세 이하의 아동 등”이라고 합니다)의 보호의무자가 8세 이하의 아동 등의 생명 또는 신체보호를 위하여 개인위치정보의 이용 또는 제공에 동의하는 경우에는 본인의 동의가 있는 것으로 봅니다.
            <br>1) 8세 이하의 아동
            <br>2) 피성년후견인
            <br>3) 장애인복지법 제2조 제2항 제2호의 규정에 따른 정신적 장애를 가진 자로서 장애인 고용촉진 및 직업재활법 제2조 제2호의 규정에 따라 중증장애인에 해당하는 자(장애인복지법 제32조의 규정에 따라 장애인등록을 한 자에 한합니다)
            <br>2. 전항의 규정에 따른 8세 이하 아동 등의 보호의무자는 해당 아동을 사실상 보호하는 자로서 다음 각 호에 해당하는 자를 말합니다.
            <br>1) 8세 이하의 아동의 법정대리인 또는 보호시설에 있는 미성년자의 후견 직무에 관한 법률 제3조의 규정에 따른 후견인
            <br>2) 피성년후견인의 법정대리인
            <br>3) 본 조 제1항 제3호의 자의 법정대리인 또는 장애인복지법 제58조 제1항 제1호의 규정에 따른 장애인생활시설(국가 또는 지방자치단체가 설치∙운영하는 시설에 한합니다)의 장, 정신보건법 제3조 제4호의 규정에 따른 정신질환자 사회복귀시설(국가 또는 지방자치단체가 설치∙운영하는 시설에 한합니다)의 장, 동법 동조 제5호의 규정에 따른 정신요양시설의 장
            <br>3. 8세 이하의 아동 등의 생명 또는 신체의 보호를 위하여 개인위치정보의 이용 또는 제공에 동의를 하고자 하는 보호의무자는 서면동의서에 보호의무자임을 증명하는 서면을 첨부하여 회사에 제출하여야 합니다.
            <br>4. 보호의무자는 8세 이하의 아동 등의 개인위치정보 이용 또는 제공에 동의하는 경우 개인위치정보주체 권리의 전부를 행사할 수 있습니다.
            <p></p>
            제 15 조 (회사의 주소 및 연락처 등)
            <br>1. 회사의 상호, 주소 및 연락처는 아래와 같습니다.
            <br>1) 상호 : 주식회사 USAN
            <br>2) 대표 : 최영우
            <br>3) 주소 : 서울시 강남구 테헤란로 116, 동경빌딩 4층
            <br>4) 대표전화 : 1800-7492
            <br>2. 회사는 개인위치정보를 적절히 관리∙보호하고, 개인위치정보주체의 불만을 원활히 처리할 수 있도록 실질적인 책임을 질 수 있는 지위에 있는 자를 위치정보관리책임자로 지정해 운영하고 있으며, 위치정보관리책임자의 성명과 연락처는 아래와 같습니다.
            <br>1) 성명 : 이진복 (CTO)
            <br>2) 대표전화 : 1800 - 7492
            <br>3) 이메일주소 : help@kickgoing.io
            <p></p>
            제 16 조 (양도금지)
            <br>회원은 서비스 가입에 따른 본 약관 상의 지위 또는 권리, 의무의 전부 또는 일부를 제3자에게 양도, 위임하거나 담보제공 등의 목적으로 처분할 수 없습니다.
            <p></p>
            제 17 조 (손해배상)
            <br>1. 회원이 고의나 과실에 의해 본 약관의 규정을 위반하여 회사에 손해가 발생한 경우, 본 약관을 위반한 회원은 회사에 발생하는 모든 손해를 배상하여야 합니다.
            <br>2. 회원이 서비스를 이용함에 있어 행한 불법행위나 회원의 고의나 과실에 의해 이 약관 위반행위로 인하여 회사가 당해 회원 이외의 제3자로부터 손해배상청구 또는 소송을 비롯한 각종 이의제기를 받는 경우 당해 회원은 그로인하여 회사에 발생한 손해를 배상하여야 합니다.
            <br>3. 회사가 위치정보법 제15조 내지 제26조의 규정을 위반한 행위로 회원에게 손해가 발생한 경우 회원은 회사에 대하여 손해배상 청구를 할 수 있습니다. 이 경우 회사는 고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다.
            <p></p>
            제 18 조 (면책)
            <br>1. 회사는 다음 각 호의 경우로 서비스를 제공할 수 없는 경우 이로 인하여 회원에게 발생한 손해에 대해서는 책임을 부담하지 않습니다.
            <br>1) 천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우
            <br>2) 서비스 제공을 위하여 회사와 서비스 제휴계약을 체결한 제3자의 고의적인 서비스 방해가 있는 경우
            <br>3) 회원의 귀책사유로 서비스 이용에 장애가 있는 경우
            <br>4) 제1호 내지 제3호를 제외한 기타 회사의 고의∙과실이 없는 사유로 인한 경우
            <br>2. 회사는 서비스 및 서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증하지 않습니다.
            <p></p>
            제 19 조 (규정의 준용)
            <br>1. 본 약관은 대한민국법령에 의하여 규정되고 이행됩니다.
            <br>2. 본 약관에 규정되지 않는 사항에 대해서는 관련법령 및 상관습에 의합니다.
            <p></p>
            제 20 조 (분쟁의 조정 및 기타)
            <br>1. 회사는 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 위치정보법 제28조의 규정에 의한 방송통신위원회에 재정을 신청할 수 있습니다.
            <br>2. 회사 또는 회원은 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 개인정보보호법 제43조의 규정에 의한 개인정보분쟁조정위원회에 조정을 신청할 수 있습니다.
            <p></p>
            부칙
            <br>제 1 조 (시행일) 이 약관은 2021년 9월 24일부터 시행합니다.
        </div>
    </div>

    <p></p>
    <div class="chk" style="text-align: left;  color : #666666;">
        <input type="checkbox" id="chk_cho" name="chk_cho" value="Y" class="chk_part" >
        <span class="chk_part_txt">프로모션 정보 수신 동의<span class="terms_choice terms_no">(선택)</span>
    </div>

    <p></p>
    <div class="procon" style="display:block; text-align: left;  color : #666666;  line-height:16px;">USAN(우산)에서 제공하는 이벤트/혜택 등 다양한 정보를 휴대전화(앱 알림 또는 문자), 이메일로 받아보실 수 있습니다. 일부 서비스(별도 회원 체계로 운영하거나 USAN(우산) 가입 이후 추가 가입하여 이용하는 서비스 등)의 경우, 개별 서비스에 대해 별도 수신 동의를 받을 수 있으며, 이때에도 수신 동의에 대해 별도로 안내하고 동의를 받습니다.</div>
    <span class="error" id="agreeMsg" style="display:none">USAN(우산) 이용약관과 개인정보 수집 및 이요에 대한 안내 모두 동의해주세요.</span>

    <div id ="con" class="con" style="color:red; margin-top: 5px;">USAN 이용약관에 대한 안내 모두 동의해주세요.</div>

    <a name='agreeBottom'></a>
    <div class="button" >
        <button type="button" id="cancel" class="cancel" onClick="location.href='/'" style="background-color: #FAFAFA; border: 3px solid rgba(0, 0, 0, 0.1); color:black; margin:10px 8px 10px;">취소</button>
        <button type="button" id="ok" class="ok" onClick="location.href='/auth/joinForm'" style="background-color: #3498db; border:hidden;">확인</button>
    </div>

</div>
</body>
<script>
    $(document).ready(function(){
        $('.chk_all').click(function (){
            $('.chk_part').prop('checked', this.checked);
        });
        $('.chk_part').click(function (){
            if($("input[name='chk_part']:checked").length + $("input[name='chk_cho']:checked").length == $("input[name='chk_part']").length + $("input[name='chk_cho']").length){
                $('.chk_all').prop("checked", true);
            }else{
                $('.chk_all').prop("checked", false);
            }
        });

        const ok = document.querySelector("#ok");
        const con = document.querySelector("#con");

        ok.addEventListener("click",function(){
            if($("input[name='chk_part']:checked").length != $("input[name='chk_part']").length) {
                con.classList.remove("con");
            }else  location.href="/auth/joinForm";

        });
    });
</script>
</html>