<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet"
        th:href="@{../htmlTemplates/css/join_form.css}"
        href="../../../static/htmlTemplates/css/join_form.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

  <title>회원가입</title>
</head>

<body>
<div class="join">
  <div class="tl">USAN</div>
  <div class="textForm">
    <div class="id_btn">
      <input id="username" type="text" class="con" placeholder="아이디">
      </input>
      <button class="idBtn" id="btn-id-check">중복 확인</button>
    </div>
  </div>
  <div class="textForm">
    <input id="password" type="password" class="con" placeholder="비밀번호">
  </div>
  <div class="textForm">
    <input id="loginPwConfirm" type="password" class="con" placeholder="비밀번호 확인">
  </div>
  <div class="textForm">
    <input id="name" type="text" class="con" placeholder="이름">
  </div>
  <div class="textForm">
    <input id="nickName" type="text" class="con" placeholder="닉네임">
  </div>
  <div class="textForm">
    <input id="email" type="text" class="con" placeholder="이메일">
  </div>
  <div class="textForm">
    <input id="birth" type="text" class="con" placeholder="생년월일 (6자리)">
  </div>
  <div class="textForm">
    <input id="phoneNumber" type="text" class="con" placeholder="전화번호 ( - 없이 입력 )">
  </div>
  <div class="but joinBtn">
    <button id ="submit" class="button">결제 카드 등록</button>
    <button id="submitNoCard" onclick="confirm()" class="button" >회원 가입</button>
  </div>
</div>

<!--팝업창-->
<div id="bg" class="hidden"></div>
<div id = "popup" class="hidden">
  <div class="test">
    <div class="box1">

      <h1 class="title">결제 카드</h1>

      <div class="box2">
        <div class="enter">
          <p style ="font-weight: bold;">카드번호 &nbsp;<input type="text" name="cardnum1" size="4" value="1234"> - <input type="text" name="cardnum2" size="4" value="1234"> -
            <input type="text" name="cardnum3" size="4" value="1234"> - <input type="text" name="cardnum4" size="4" value="1234"></p>
          <hr size="1px" width=100% color="white" noshade ></hr>
          <p style = "font-weight: bold;">유효기간 &nbsp;<input type="text" name="month" size="2" placeholder="MM"  value="12"> / <input type="text" name="year" size="2" placeholder="YY" value="34"></p>
          <hr size="1px" width=100% color="white" noshade="noshade"></hr>
          <p style = "font-weight: bold;">&nbsp;CVC<input type="password" name="back" size="3" left="50%"value="12" ><span style = "color:gray; font-size: 12px;"> 카드 뒷면 끝 3자리</span></p>
          <hr size="1px" width=100% color="white" noshade="noshade"></hr>
          <p style = "font-weight: bold;">비밀번호 &nbsp;</span><input type="password" name="pw" size="2" value="12" >** <span style = "color:gray; font-size: 12px;">카드비밀번호 앞 2자리</span></p>
        </div>
      </div>


      <div class="all_btn">
        <button type="button"  onclick="index.userSave()" class="btn">등록하기</button>
        <button id ="back" class="btn_main">취소</button>
      </div>
    </div>
  </div>
</div>

</body>
<script th:src="@{../htmlTemplates/js/jquery.min.js} "src="../../../static/htmlTempaltes../js/jquery.min.js"></script>
<script th:src="@{../htmlTemplates/js/jquery.scrolly.min.js} "src="../../../static/htmlTempaltes../js/jquery.scrolly.min.js"></script>
<script th:src="@{../htmlTemplates/js/jquery.scrollex.min.js} "src="../../../static/htmlTempaltes../js/jquery.scrollex.min.js"></script>
<script th:src="@{../htmlTemplates/js/skel.min.js} "src="../../../static/htmlTempaltes../js/skel.min.js"></script>
<script th:src="@{../htmlTemplates/js/util.js} "src="../../../static/htmlTempaltes../js/util.js"></script>
<script th:src="@{../htmlTemplates/js/main.js} "src="../../../static/htmlTempaltes../js/main.js"></script>
<script th:src="@{../js/user.js} "src="../../../static/htmlTempaltes../js/main.js"></script>

<script>
  const submit = document.querySelector("#submit");
  const bg = document.querySelector("#bg");
  const popup = document.querySelector("#popup");
  const back = document.querySelector("#back");

  submit.addEventListener("click",function(){
    bg.classList.remove("hidden");
    popup.classList.remove("hidden");
  });
  back.addEventListener("click",function(){
    bg.classList.add("hidden");
    popup.classList.add("hidden");
  });

</script>
<script th:src="@{../js/user.js}"></script>
<script>
function confirm(){
  if(document.getElementById("username").value != "" &&
    document.getElementById("password").value != "" &&
    document.getElementById("loginPwConfirm").value != "" &&
    document.getElementById("name").value != "" &&
    document.getElementById("nickName").value != "" &&
    document.getElementById("email").value != "" &&
    document.getElementById("birth").value != "" &&
    document.getElementById("phoneNumber").value != ""){
      if(document.getElementById("password").value ==
        document.getElementById("loginPwConfirm").value) {
          index.userSave()
          alert("회원가입 완료");
          location.href = "../../";
      }
      else{
        alert("비밀번호가 서로 다릅니다.")
      }
  }
  else{
    alert("빈칸을 입력해주세요.")
  }
}
</script>
</html>