body{
    background-color:white;
    justify-content: center;
    align-items: center;
}

div.test {
    position: absolute;
    text-align: left;
    width: 500px;
    height:auto;
    left: 50%;
    top:40%;
    transform: translate(-50%, -50%);
}

div.blind {
    position: absolute;
    display:flex;
    text-align:center;
    color:black;
    font-size: 40px;
    font-weight: bold;
    left: 50%;

    transform: translate(-50%, -150%);
}

div.data{
    background-color: white;
    color:black;
    /*border: solid 3px #3498db;*/
    padding : 5px;
}
span{
    margin: 0px 0px 0px 30px;
}

p {
    font-size:20px;
}


/*크기변경*/
@media screen and (max-width:420px) {

    div.test {
        width:90%;
    }

    div.blind {
        font-size: 180%;
    }

    p {
        margin-bottom: 10px !important;
        font-size: 100%;
    }
    span{
        font-size:100% !important;
    }
    img{
        width: 5% !important;

    }
}
