
body{
    background-color:white;
    justify-content: center;
    align-items: center;
}

div.test {
    position: relative;
    text-align: left;
    width: 500px;
    height: auto;
    left: 50%;
    top:50%;
    transform: translate(-50%,5%);
    border: solid 5px #3498db;
    background-color:white;
    /*padding-bottom: 50%;*/
    margin-bottom: 8px;
}
#price{
    margin: 0px 30px 0px 0px;
    font-weight: bold;
    color:black;
    float:right
}

div.blind {
    text-align:center;
    color:black;
    font-size: 40px;
    font-weight: bold;
    margin-top:8%;
    margin-bottom: 6%;
}

div.data{
    background-color: white;
    color:black;
    padding : 5px;
}
span{
    margin: 0px 0px 0px 30px;
}

p {
    font-size:20px;
}


/*크기변경*/
@media screen and (max-width:530px) {
    body{
        background-color:#3498db;
    }

    div.test {
        width: 96%;
        height: 98%;
        top: -3.5%;
        position: absolute;
        border:0px;
    }

    div.blind {
        font-size: 180%;
    }

    p {
        margin-bottom: 10px !important;
        font-size: 100%;
    }
    span{
        font-size:100% !important;
    }
    img{
        width: 5% !important;

    }
}
