.input_group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.input_group input {
    width: 250px;
}

.input_group button {
    margin-left: 5px;
    height: 36px;
    border-radius: 4px;
    width: 80px;
}

.pagination {
    justify-content: center;
}

@media screen and (max-width:430px) {
    .input_group input {
        width: 170px;
        height: 30px;
    }

    .input_group button {
        width: 60px;
        height: 30px;
    }

    .input_group {
        margin-top: 60px;
    }
}

@media screen and (max-width:376px) {
    .input_group {
        margin-top: 40px;
    }

    .align-center h1 {
        font-size: 2.3em;
    }
}

@media screen and (max-width:361px) {
    .input_group {
        margin-top: 0;
    }
}