.buttons {
    margin: auto;
    display: flex;
}

.buttons input{
    width: 130px;
}

.alt {
    margin-left: 5px;
}

@media screen and (max-width:430px) {
    .buttons input{
        width: 100px;
    }

    .align-center h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width:376px) {
    .buttons input{
        width: 80px;
    }
}