<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>USAN</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet"
		  th:href="@{../htmlTemplates/css/main.css}"
		  href="../../static/htmlTemplates/css/main.css" />
	<link rel="stylesheet" th:href="@{../htmlTemplates/css/home.css}" href="../../static/htmlTemplates/css/home.css">
</head>
<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/" >USAN</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="이용안내주소">이용 안내</a></li>
					<li><a href="/inquiry">문의하기</a></li>
					<li><a href="/board">공지사항</a></li>
					<li><a href="/umb/rent">대여하기</a></li>
					<li><a href="umb/rent">개인정보</a></li>
					<li  sec:authorize="isAuthenticated()" ><a href="/logout">로그아웃</a></li>
					<li  sec:authorize="!isAuthenticated()" ><a href="/auth/loginForm">로그인</a></li>
					<li  sec:authorize="!isAuthenticated()" ><a href="/user/agree">회원가입</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>우산대여</h1>
						<p sec:authorize="isAuthenticated()" class="p_margin">
						<span  sec:authentication="principal.user.nickName"></span>님 안녕하세요
						</p>

						<p class="p_margin">우산을 쉽고 빠르게 대여하세요.</p>
						<p class="p_window p_margin">들고 다니기 귀찮았던 우산, 이제는 우산대여를 통해 손을 가볍게!</p>
						<p class="p_mobile p_none">들고 다니기 귀찮았던 우산,</p><p class="p_mobile p_margin">이제는 우산대여를 통해 손을 가볍게!</p>
					</header>
					<a sec:authorize="!isAuthenticated()" href="/auth/loginForm" class="button big scrolly">로그인</a>
					<a sec:authorize="isAuthenticated()" href="/logout" class="button big scrolly">로그아웃</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

		<!-- Section -->
			<section class="wrapper style2 rent">
				<div class="inner">
					<div class="flex flex-2">
						<div class="col col2">
							<h3>대여하기</h3>
							<div class="lent-text1 p_window">
								<p>자꾸만 늘어나는 우산 소비는 이제 그만!</p>
								<p>하루 700원으로 내 우산처럼 편하게 사용하세요!</p>
							</div>
							<div class="lent-text1 p_mobile">
								<p>자꾸만 늘어나는 우산 소비는<br>이제 그만!</p>
								<p>하루 700원으로 내 우산처럼<br>편하게 사용하세요!</p>
							</div>
							<div class="lent-text2">
								<p class="p_window">* 대여시간으로부터 24시간 경과 후 추가요금 발생</p>
								<p class="p_mobile">* 대여시간으로부터 24시간 경과 후<br>추가요금 발생</p>
								<p class="lent-text2-p">자세한 내용은 이용 안내 페이지 참고</p>
							</div>
							<a href="/umb/rent" class="button">대여하기</a>
						</div>
						<div class="col col1 first">
							<div class="image round fit">
								<img th:src="@{https://i.imgur.com/6sAYt40.jpg}" src="https://i.imgur.com/6sAYt40.jpg" alt="" />
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Section -->
			<section class="wrapper style1 rent">
				<div class="inner">
					<!-- 2 Columns -->
					<div class="flex flex-2">
						<div class="col col1">
							<div class="image round fit">
								<img th:src="@{https://i.imgur.com/vNAWL4g.jpg}" src="https://i.imgur.com/vNAWL4g.jpg" alt="" />
							</div>
						</div>
						<div class="col col2">
							<h3>대여 방법</h3>
							<ol class="lent_way p_window">
								<li>보관함 QR코드를 인식하세요.</li>
								<li>사이트에 접속하여 로그인 후 대여하기 버튼을 눌러주세요.</li>
								<li>우산을 인식존에 인식해주세요.</li>
								<li>이후 안내에 따라 대여를 진행해주세요.</li>
								<li>결제 후 레일을 따라 우산을 꺼내주세요.</li>
							</ol>
							<ol class="lent_way p_mobile">
								<li>보관함 QR코드를 인식하세요.</li>
								<li>사이트에 접속하여 로그인 후<br>대여하기 버튼을 눌러주세요.</li>
								<li>우산을 인식존에 인식해주세요.</li>
								<li>이후 안내에 따라 대여를 진행<br>해주세요.</li>
								<li>결제 후 레일을 따라 우산을<br>꺼내주세요.</li>
							</ol>
						</div>
					</div>
				</div>
			</section>


			<!-- Section -->
				<section class="wrapper style2 rent">
					<div class="inner">
						<div class="flex flex-2">
							<div class="col col2">
								<h3>반납 방법</h3>
								<ol class="return_way p_window">
									<li>보관함에 우산을 넣어주세요.</li>
									<li>우산을 인식존에 인식해주세요.</li>
									<li>띠리링 소리가 난다면 그대로 넣어주세요.</li>
									<li>만약 추가요금이 있다면 결제가 잘 됐는지 확인해주세요.</li>
								</ol>
								<ol class="return_way p_mobile">
									<li>보관함에 우산을 넣어주세요.</li>
									<li>우산을 인식존에 인식해주세요.</li>
									<li>띠리링 소리가 난다면 그대로<br>넣어주세요.</li>
									<li>만약 추가요금이 있다면 결제가<br>잘 됐는지 확인해주세요.</li>
								</ol>
								<p class="return_way_p p_window">* 만약 "띡" 소리가 난다면 당황하지 마시고 천천히 다시 시도해주세요.</p>
								<p class="return_way_p p_mobile return_p">* 만약 "띡" 소리가 난다면 당황하지</p>
								<p class="return_way_p p_mobile return_pp">마시고 천천히 다시 시도해주세요.</p>
							</div>
							<div class="col col1 first">
								<div class="image round fit">
									<img th:src="@{https://i.imgur.com/OQPDOyC.jpg}" src="https://i.imgur.com/OQPDOyC.jpg" alt="" />
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Section -->
				<section class="wrapper style1 map">
					<div class="inner">
						<header class="align-center">
							<h2>USAN존 위치</h2>
							<p>USAN이 배치된 위치를 알려줍니다.</p>
						</header>
						<div class="stateBtns">
							<button class="stateBtn" id="state1_btn">평택대점</button>
							<button class="stateBtn" id="state2_btn">평택역점</button>
						</div>
						<div class="usanzone state1" id="state1">
							<div class="usanzone_map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3186.618901788072!2d127.13116461563685!3d36.99502896440735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b309bc8f7fb29%3A0xc0ddf62819c56a8e!2z7Y-J7YOd64yA7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1629118117939!5m2!1sko!2skr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
							</div>
						</div>
						<div class="usanzone state2" id="state2">
							<div class="usanzone_map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3186.817383976373!2d127.08386610289219!3d36.99029198099644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b3afd24d4879f%3A0x99fc55e3f9603677!2z7Y-J7YOd7Jet!5e0!3m2!1sko!2skr!4v1636736390398!5m2!1sko!2skr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
							</div>
						</div>
					</div>
				</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					<p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>

<!-- Scripts -->
<script>
	document.getElementById("state1_btn").onclick = function() {state1_click()};
	document.getElementById("state2_btn").onclick = function() {state2_click()};

	function state1_click() {
		$("#state1").show();
		$("#state2").hide();
	}

	function state2_click() {
		$("#state1").hide();
		$("#state2").show();
	}


</script>
<script th:src="@{../htmlTemplates/js/jquery.min.js}" src="../../static/htmlTemplates/js/jquery.min.js"></script>
<script th:src="@{../htmlTemplates/js/jquery.scrolly.min.js}" src="../../static/htmlTemplates/js/jquery.scrolly.min.js"></script>
<script th:src="@{../htmlTemplates/js/jquery.scrollex.min.js}" src="../../static/htmlTemplates/js/jquery.scrollex.min.js"></script>
<script th:src="@{../htmlTemplates/js/skel.min.js}"src="../../static/htmlTemplates/js/skel.min.js"></script>
<script th:src="@{../htmlTemplates/js/util.js}"src="../../static/htmlTemplates/js/util.js"></script>
<script th:src="@{../htmlTemplates/js/main.js}"src="../../static/htmlTemplates/js/main.js"></script>

	</body>
</html>