<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  >
<head>
    <title>영수증</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          th:href="@{../htmlTemplates/css/bill.css}"
          type="text/css" href="../../../static/htmlTemplates/css/bill.css"/>

    <style>
        /*span{
            display: block;
        }*/
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

<div class="test" th:each="order:${user.orderList}">
    <div class="blind">대여 영수증</div>

    <div class="data">
        <p style = "margin: 0px 0px 0px 30px;" th:text="${#dates.format(order.rentDate,'yyyy-MM-dd HH:mm')}">2021/10/10 14:43:06</p>
        <span><img src="https://imgur.com/GQ2kgQU.png" alt="" style="width:25px"></span>
        <span style="font-size:20px" th:text="${order.location}">평택대</span>
        <hr size="1px" width=100% color= #3498db noshade="noshade"></hr>
    </div>
    <div class="data">
        <span style="font-size:20px">대여시간<span style = "margin: 0px 30px 0px 0px; font-weight: bold; color:black;float:right" th:text="|${order.day}일|">1일</span></span>
        <br>
        <span style="font-size:20px">이용요금<span style = "margin: 0px 30px 0px 0px; font-weight: bold; color:black;float:right" th:text="|${order.payment}원|">700원</span></span>

        <span style="font-size:20px" th:if="${user.payNumber !=0}"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;결제번호<span style = "margin: 0px 30px 0px 0px; font-weight: bold; color:black;float:right"  th:text="|${user.payNumber}|">4567</span></span>
        <hr size="1px" width=100% color= #3498db noshade="noshade"></hr>
    </div>
    <div class="data">
        <span style="font-size:20px">최종 결제 금액<span id="price" th:text="|${order.payment}원|">700원</span></span>
    </div>
    <hr size="1px" width=100% color= white noshade="noshade"></hr>
</div>
</body>

<script>
</script>

</html>