<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/../htmlTemplates/css/card_information.css}" href="../../../static/htmlTemplates/css/card_information.css">
    <title>USAN</title>
</head>
<body>
<div class="card_information_all">
    <div class="card_information">
        <h2>등록된 카드 정보</h2>
        <div class="card_company">
            <h3>카드사</h3>
            <h3>카카오</h3>
        </div>
        <div class="card_number">
            <h3>카드 번호</h3>
            <h3>1111-2222-3333-4444</h3>
        </div>
    </div>
</div>
</body>
</html>