<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  >
<head>
  <title>USAN</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
        th:href="@{../htmlTemplates/css/card.css}"
        href="../../../static/htmlTemplates/css/card.css"/>
</head>

<body>

<div class="test">
  <div class="box1">

    <!--로고-->
    <div class="blind">USAN</div>
    <h1 class="title">카드 정보 입력</h1>

    <div class="box2">
      <div class="enter">
        <p style ="margin: 20px; font-weight: bold;">카드번호 &nbsp;<input type="text" name="cardnum1" size="4"> - <input type="text" name="cardnum2" size="4"> -
          <input type="text" name="cardnum3" size="4"> - <input type="text" name="cardnum4" class="last_blank" size="4"></p>
        <hr size="1px" width=100% color="white" noshade ></hr>
        <p style = "margin: 20px; font-weight: bold;">유효기간 &nbsp;<input type="text" name="month" size="2" placeholder="MM"> / <input type="text" name="year" size="2" placeholder="YY"></p>
        <hr size="1px" width=100% color="white" noshade="noshade"></hr>
        <p style = "margin: 20px; font-weight: bold;">&nbsp;CVC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="back" size="3" left="50%" ><span style = "color:gray; font-size: 12px;"> 카드 뒷면 끝 3자리</span></p>
        <hr size="1px" width=100% color="white" noshade="noshade"></hr>
        <p style = "margin: 20px; font-weight: bold;">비밀번호 &nbsp;</span><input type="password" name="pw" size="2">** <span style = "color:gray; font-size: 12px;">카드비밀번호 앞 2자리</span></p>
      </div>
    </div>

    <p></p>
    <div class="all_btn">
      <button type="button" onClick="location.href='#'" class="btn">등록하기</button>
      <button type="button" onClick="location.href='#'" class="btn_main">취소</button>
    </div>
  </div>
</div>

</body>
</html>