<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  >
<head>
    <title>대여기록</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          th:href="@{../htmlTemplates/css/docu.css}"
          href="../../../static/htmlTemplates/css/docu.css"/>

    <style>
        /*span{
            display: block;
        }*/
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

<div class="test">
    <div class="blind">대여 기록</div>

    <div class="data">
        <p style = "margin: 0px 0px 0px 30px;">2021/10/10 14:43:06<span style = "margin: 0px 0px 0px 10px; color:black;">(1일)</span></p>
        <span style = "margin: 0px 0px 0px 30px; "><img src="https://imgur.com/GQ2kgQU.png" alt="" style="width:25px"></span>
        <span style="font-size:20px; margin: 0px 0px 10px 0px;">평택대<span style = "margin: 0px 30px 0px 0px; font-weight: bold; color:black;float:right">1,000원</span></span>
        <hr size="1px" width=100% color= #3498db noshade="noshade"></hr>
    </div>
    <hr size="1px" width=100% color= white noshade="noshade"></hr>
</div>
</body>

<script>
</script>

</html>