<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html th:replace="thymeleaf/layout/layout :: layout(~{::title},~{::#main})" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head >
	<title>USAN-개인정보</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet"
		  th:href="@{../htmlTemplates/css/main.css}"
		  href="../../../static/htmlTemplates/css/main.css" />
	<link rel="stylesheet" th:href="@{../htmlTemplates/css/guide.css}" href="../../../static/htmlTemplates/css/guide.css">
</head>
<body class="subpage" id="body">


<!-- Header -->
<header id="header" >
	<div class="logo"><a href="index.html">USAN</a></div>
	<a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="메인화면.html">Home</a></li>
		<li><a href="이용안내.html">이용 안내</a></li>
		<li><a href="문의하기.html">문의하기</a></li>
		<li><a href="공지사항.html">공지사항</a></li>
		<li><a href="Login_v8/index.html">로그인</a></li>
		<li><a href="#">회원가입</a></li>
	</ul>
</nav>

<!-- Main -->
<div id="main">

	<!-- Section -->
	<section class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h1>이용 안내</h1>
			</header>
			<div class="flex flex-2">
				<div class="col col2">
					<h2>USAN 사용 방법</h2>
					<div class="guide_lent">
						<h3>대여 방법</h3>
						<ol class="guide_way p_window">
							<li>보관함 QR코드를 인식하세요.</li>
							<li>사이트에 접속하여 로그인 후 대여하기 버튼을 눌러주세요.</li>
							<li>우산을 인식존에 인식해주세요.</li>
							<li>이후 안내에 따라 대여를 진행해주세요.</li>
							<li>결제 후 레일을 따라 우산을 꺼내주세요.</li>
						</ol>
						<ol class="guide_way p_mobile">
							<li>보관함 QR코드를 인식하세요.</li>
							<li>사이트에 접속하여 로그인 후<br>대여하기 버튼을 눌러주세요.</li>
							<li>우산을 인식존에 인식해주세요.</li>
							<li>이후 안내에 따라 대여를 진행<br>해주세요.</li>
							<li>결제 후 레일을 따라 우산을<br>꺼내주세요.</li>
						</ol>
					</div>
					<div class="guide_return">
						<h3>반납 방법</h3>
						<ol class="guide_way p_window">
							<li>보관함에 우산을 넣어주세요.</li>
							<li>우산을 인식존에 인식해주세요.</li>
							<li>띠리링 소리가 난다면 그대로 넣어주세요.</li>
							<li>만약 추가요금이 있다면 결제가 잘 됐는지 확인해주세요.</li>
						</ol>
						<ol class="guide_way p_mobile">
							<li>보관함에 우산을 넣어주세요.</li>
							<li>우산을 인식존에 인식해주세요.</li>
							<li>띠리링 소리가 난다면 그대로<br>넣어주세요.</li>
							<li>만약 추가요금이 있다면 결제가<br>잘 됐는지 확인해주세요.</li>
						</ol>
						<p class="guide_return_way_p p_window">* 만약 "띡" 소리가 난다면 당황하지 마시고 천천히 다시 시도해주세요.</p>
						<p class="guide_return_way_p p_mobile">* 만약 "띡" 소리가 난다면 당황하지</p>
						<p class="guide_return_way_p guide_return_way_pp p_mobile">마시고 천천히 다시 시도해주세요.</p>
					</div>
				</div>

				<div class="col col1 first">
					<div class="image round fit">
						<img th:src="@{https://i.imgur.com/FX1kKtL.jpg}" src="https://i.imgur.com/FX1kKtL.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section -->
	<section class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h1>요금 안내</h1>
			</header>
			<div class="flex flex-2">
				<div class="col col2">
					<h2>USAN 사용 요금 안내</h2>
					<ul class="guide_money p_window">
						<li>하루 우산 대여 요금은 700원입니다.</li>
						<li>우산 대여는 최대 7일까지 가능합니다.</li>
						<li>예정된 반납일보다 반납이 늦어질 시 연체료가 부과됩니다.</li>
						<li>연체료는 일당(24시간 기준) 400원입니다.</li>
					</ul>
					<ul class="guide_money p_mobile">
						<li>하루 우산 대여 요금은 700원<br>입니다.</li>
						<li>우산 대여는 최대 7일까지 가능<br>합니다.</li>
						<li>예정된 반납일보다 반납이 늦어질<br> 경우 연체료가 부과됩니다.</li>
						<li>연체료는 일당(24시간) 400원<br>입니다.</li>
					</ul>
				</div>
				<div class="col col1 first">
					<div class="image round fit">
						<img th:src="@{https://i.imgur.com/FhKjOEU.jpg}" src="https://i.imgur.com/FhKjOEU.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h1>사용 안내 영상</h1>
			</header>
			<div class="flex flex-2">
				<div class="col col2">
					<iframe width="100%" height="400" src="https://www.youtube.com/embed/s4de3wcjj3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Footer -->
<footer id="footer">
	<div class="copyright">
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
		</ul>
		<p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
	</div>
</footer>

<!-- Scripts -->
<script th:src="@{../htmlTemplates/js/jquery.min.js} "src="../../../static/htmlTempaltes../js/jquery.min.js"></script>
<script th:src="@{../htmlTemplates/js/jquery.scrolly.min.js} "src="../../../static/htmlTempaltes../js/jquery.scrolly.min.js"></script>
<script th:src="@{../htmlTemplates/js/jquery.scrollex.min.js} "src="../../../static/htmlTempaltes../js/jquery.scrollex.min.js"></script>
<script th:src="@{../htmlTemplates/js/skel.min.js} "src="../../../static/htmlTempaltes../js/skel.min.js"></script>
<script th:src="@{../htmlTemplates/js/util.js} "src="../../../static/htmlTempaltes../js/util.js"></script>
<script th:src="@{../htmlTemplates/js/main.js} "src="../../../static/htmlTempaltes../js/main.js"></script>

</body>
</html>