<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/../htmlTemplates/css/rent_fe.css}" href="../../../static/htmlTemplates/css/rent_fe.css">
    <title>USAN</title>
</head>
<body>
<div class="all" id="all_fail">
    <div class="photo">
        <img src="https://i.imgur.com/ef0X1sc.png" alt="logo" class="logo">
        <h1>대여에<br><span style="color: red;">실패</span>하였습니다.</h1>
    </div>
    <div class="fail">
        <p>일시적인 오류로 잠시 후 재결제 시도요망</p>
    </div>
    <div class="all_btn">
        <button type="button" onClick="location.href='/umb/rent'" class="btn">재결제 시도</button>
        <button type="button" onClick="location.href='/'" class="btn_main">메인화면으로 이동</button>
    </div>
</div>
</body>
</html>