<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{../htmlTemplates/css/rent.css}" rel="stylesheet" href="../../../static/htmlTemplates/css/rent.css">
    <title>USAN</title>
</head>
<body>
<div class="container_lent">
    <div class="lent">
        <h1>대여하기</h1>
        <h3>사용자 ID : 두근두근</h3>
    </div>
    <form class="lent_form">
        <div class="lent_choice">
            <div class="lent_location">
                <label for="location">보관소 위치 선택</label>
                <select id="location">
                    <option id="ptu" value="Pyeongtaek_uni" selected >평택대</option>
                    <option id="psb" value="Pyeongtaek_station">평택역</option>
                </select>
            </div>
            <div id="lent_condition">

            </div>
            <div class="lent_date">
                <label>대여기간 선택</label>
                <input id="days" type="number" min="1" max="30" value="1">일
            </div>
            <p id="lent_date_result"></p>
        </div>
        <div class="lent_btn">
            <button type="submit" class="btn_submit">대여하기</button>
            <button type="reset" class="btn_reset">취소하기</button>
        </div>
    </form>

</div>

<script th:inline="javascript">
    let instance={
        test:function(){
            const days = document.getElementById('days').value
            const location = document.getElementById('locations').value
            if (confirm(location+"지점에서 "+days+"일 동안 대여하시겠습니까?")) {
                index.rent(location,days)
            } else {

            }
        }
    }
    let storage= [[${storages}]]
    let rent_location = document.getElementById("location");
    let rent_location_select = rent_location.options[rent_location.selectedIndex].innerText;


    // let result_rent_location =  document.getElementById("lent_condition").innerHTML=`현재 ${rent_location_select}의 우산 잔여 갯수는 0개 입니다.`

    const b = document.getElementById('location')


        document.getElementById("lent_condition").innerHTML = `우산 갯수 ☂️: ${storage[rent_location.selectedIndex].umb_count}개`;

    b.addEventListener('change',changeLocation)
    function changeLocation() {
        rent_location = document.getElementById("location");
        rent_location_select = rent_location.options[rent_location.selectedIndex].innerText;
        alert(storage[rent_location.selectedIndex].umb_count)
        if (storage[rent_location.selectedIndex].umb_count === 0) {
            let a =document.getElementById("lent_condition").innerHTML = `우산 갯수 ☂️: ${storage[rent_location.selectedIndex].umb_count}개`;
            document.getElementById("lent_condition").style.color="#FF0000";
        } else {
            document.getElementById("lent_condition").innerHTML = `우산 갯수 ☂️: ${storage[rent_location.selectedIndex].umb_count}개`;
            document.getElementById("lent_condition").style.color="#000000";
        }


        console.log( document.getElementById("location").options[document.getElementById("location").selectedIndex]);
    }


</script>

</body>
</html>