<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet"
        th:href="@{../htmlTemplates/css/rent.css}"
        href="assets/css/lent.css" />
  <style>
    a:visited{
      color: blue;
    }
    div.test {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  </style>
  <meta charset="UTF-8">

  <title>Title</title>
</head>
<body>

<div class="test"  >
  <img src="https://i.imgur.com/Wcpj8fI.png" alt="" style="margin-top: auto">
  <p style="font-size: 50px; font-weight: bold ">대여가 완료되었습니다.</p>
  <a style="font-size: 30px; " href="#" >대여내역 보러가기</a>
</div>
</body>
</html>